{%- assign current_template = template | split: '.' | first -%}
<nav class="breadcrumbs ff-body fs-body-75" role="navigation" aria-label="breadcrumbs">
  {%- if show_breadcrumbs -%}
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}">{{ 'general.navigation.home' | t }}</a>
        <div class="breadcrumbs__icon">{% render 'icon', icon: 'chevron-small' %}</div>
      </li>
      {%- case current_template -%}
        {%- when 'product' -%}
          {%- if collection.url -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
              <div class="breadcrumbs__icon">{% render 'icon', icon: 'chevron-small' %}</div>
            </li>
          {%- endif -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page">{{ product.title }}</span>
          </li>
        {%- when 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
              <div class="breadcrumbs__icon">{% render 'icon', icon: 'chevron-small' %}</div>
            </li>
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">{{- current_tags | join: ' + ' -}}</span>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">{{ collection.title }}</span>
            </li>
          {%- endif -%}
      {%- endcase -%}
    </ol>
  {%- endif -%}

  {%- if show_navigation_buttons -%}
    <ol class="navigation-buttons__list">
      {%- if collection.previous_product -%}
        <li class="navigation-buttons__item">
          <a class="navigation-buttons__link" href="{{ collection.previous_product }}">
            <div class="breadcrumbs__navigation-icon--left">{% render 'icon', icon: 'chevron-small' %}</div>
            <label>{{ 'general.navigation.previous' | t }}</label>
          </a>
        </li>
      {%- endif -%}
      {%- if collection.next_product -%}
        <li class="navigation-buttons__item">
          <a class="navigation-buttons__link" href="{{ collection.next_product }}">
            <label>{{ 'general.navigation.next' | t }}</label>
            <div class="breadcrumbs__navigation-icon--right">{% render 'icon', icon: 'chevron-small' %}</div>
          </a>
        </li>
      {%- endif -%}
    </ol>
  {%- endif -%}
</nav>
