<!doctype html>

<!--
  ___                 ___           ___           ___
       /  /\                     /__/\         /  /\         /  /\
      /  /:/_                    \  \:\       /  /:/        /  /::\
     /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
    /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
   /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
   \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
    \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
     \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
      \  \:\       \__\/        \  \::/       \  \::/       \  \::/
       \__\/                     \__\/         \__\/         \__\/

  --------------------------------------------------------------------
  #  Cornerstone v1.3.4
  #  Documentation: https://help.fluorescent.co/v/cornerstone
  #  Purchase: https://themes.shopify.com/themes/cornerstone/
  #  A product by Fluorescent: https://fluorescent.co/
  --------------------------------------------------------------------
-->

<html class="no-js" lang="{{ request.locale.iso_code }}" style="--announcement-height: 1px;">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render 'meta-description' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'search.heading' | t: count: search.results_count }}:
        {{ 'search.results' | t: terms: search.terms }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {% render 'social-meta-tags' %}

    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    {% render 'theme-globals' %}

    {%- if request.design_mode %}
      {% render 'inline-scripts', load_all: true %}
    {% endif -%}

    {{ content_for_header }}
  </head>

  <body class="template-{{ request.page_type | handle }}">
    <div class="page">
      {% if settings.enable_page_transitions %}
        {% render 'page-transition-overlay' %}
      {% endif %}

      <div class="theme-editor-scroll-offset"></div>

      <div class="header__space" data-header-space></div>
      {% sections 'header-group' %}

      {%- sections 'overlay-group' -%}

      <div class="header-overlay" data-header-overlay>
        <div class="header-overlay__inner"></div>
      </div>

      <main id="main" class="main">
        {{ content_for_layout }}
      </main>

      {%- sections 'footer-group' -%}

      {% render 'store-availability-drawer' %}
      {% render 'quick-product-modal', open: false %}
      {% render 'modal' %}
      {% render 'back-to-top' %}
    </div>
  </body>

  <link
    rel="preload"
    fetchpriority="low"
    href="{{ 'theme-deferred.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
  <noscript><link rel="stylesheet" href="{{ 'theme-deferred.css' | asset_url }}"></noscript>
</html>
