{% liquid
  assign image_sizes = '(min-width: 720px) calc(calc(100vw - calc(2 * clamp(24px, 2vw, 36px))) / [[nc]]), calc(calc(100vw - calc(2 * 16px)) / [[mc]])'
  assign image_sizes = image_sizes | replace: '[[nc]]', section.settings.num_columns | replace: '[[mc]]', section.settings.num_columns_mobile

  if section.settings.button_label != blank
    capture additional_header_content
      render 'button', label: section.settings.button_label, link: section.settings.button_link, button_style: section.settings.button_style, wrapper_class: 'section-header-footer__button'
    endcapture
  endif

  capture slider_dots
    render 'scroll-slider-page-dots'
  endcapture

  capture button_icon
    render 'icon', icon: 'chevron-small'
  endcapture

  unless section.settings.center_content
    capture additional_header_content
      echo additional_header_content
      echo slider_dots
    endcapture
  endunless

  assign has_slider = false
  assign disable_slider_desktop = true
  assign disable_slider_mobile = true

  if section.settings.enable_slider_desktop or section.settings.enable_slider_mobile
    assign has_slider = true
  endif

  if section.settings.enable_slider_desktop
    assign disable_slider_desktop = false
  endif

  if section.settings.enable_slider_mobile
    assign disable_slider_mobile = false
  endif

  assign show_all_label = 'shared.truncation.show_all' | t
  assign truncate_desktop = false
  assign truncate_mobile = false

  if section.settings.collections.count > 0
    assign collection_count = section.settings.collections.count
  else
    assign placeholder_items = section.settings.num_columns | times: 2
    assign collection_count = placeholder_items
  endif

  unless section.settings.num_rows == 'all'
    assign max_collections = section.settings.num_columns | times: section.settings.num_rows

    if disable_slider_desktop and max_collections < collection_count
      assign truncate_desktop = true
    endif
  endunless

  unless section.settings.num_rows_mobile == 'all'
    assign max_collections_mobile = section.settings.num_columns_mobile | times: section.settings.num_rows_mobile

    if disable_slider_mobile and max_collections_mobile < collection_count
      assign truncate_mobile = true
    endif
  endunless

  assign beyond_desktop_limit = false
  assign beyond_mobile_limit = false
-%}

{%- capture collection_items -%}
  {%- for coll in section.settings.collections -%}
    {%- liquid
      if truncate_desktop and forloop.index > max_collections and beyond_desktop_limit == false
        assign beyond_desktop_limit = true
      endif

      if truncate_mobile and forloop.index > max_collections_mobile and beyond_mobile_limit == false
        assign beyond_mobile_limit = true
      endif
    -%}

    {%
      render 'collection-item',
      coll: coll,
      beyond_desktop_limit: beyond_desktop_limit,
      beyond_mobile_limit: beyond_mobile_limit,
      image_source: section.settings.image_source,
      image_aspect_ratio: section.settings.image_aspect_ratio,
      image_circle_crop_enable: section.settings.image_circle_crop_enable,
      image_sizes: image_sizes,
      show_product_counts: section.settings.show_product_counts,
      title_font_type: section.settings.title_font_type,
      title_font_size: 3,
      text_alignment: section.settings.text_alignment,
    -%}
  {%- else -%}
    {%- for i in (1..placeholder_items) -%}
      {%- liquid
        if truncate_desktop and forloop.index > max_collections and beyond_desktop_limit == false
          assign beyond_desktop_limit = true
        endif

        if truncate_mobile and forloop.index > max_collections_mobile and beyond_mobile_limit == false
          assign beyond_mobile_limit = true
        endif
      -%}

      {%
        render 'collection-item',
        beyond_desktop_limit: beyond_desktop_limit,
        beyond_mobile_limit: beyond_mobile_limit,
        image_source: section.settings.image_source,
        image_aspect_ratio: section.settings.image_aspect_ratio,
        image_circle_crop_enable: section.settings.image_circle_crop_enable,
        image_sizes: image_sizes,
        title_font_type: section.settings.title_font_type,
        title_font_size: 3,
        text_alignment: section.settings.text_alignment,
      -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}

{%- capture footer_content -%}
  {% liquid
    if section.settings.center_content and disable_slider_desktop == false
      echo slider_dots
    endif
  -%}

  {% if truncate_desktop or truncate_mobile -%}
    <div
      class="collection-list__expand-button-wrapper"
      data-desktop-enable="{{ truncate_desktop }}"
      data-mobile-enable="{{ truncate_mobile }}"
    >
      {%
        render 'button',
        wrapper_class: 'collection-list__expand-button section-header-footer__button',
        button_style: 'tertiary',
        label: show_all_label,
        additional_button_content: button_icon,
        allow_linkless: true,
      -%}
    </div>
  {%- endif %}
{%- endcapture -%}

{%- assign footer_content = footer_content | strip -%}

<div
  class="
    collection-list
    section
    {% if settings.enable_section_animations and section.settings.section_style_enable_animation -%}
      animation
      animation--collection-list
    {%- endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="collection-list"
  style="
    {% render 'settings-section-style-style' %}
    --num-columns-desktop: {{ section.settings.num_columns }};
    --num-columns-mobile: {{ section.settings.num_columns_mobile }};
  "
>
  <div class="section-inner">
    <div
      class="collection-list__inner"
      data-has-slider="{{ has_slider }}"
      data-slider-desktop="{{ section.settings.enable_slider_desktop }}"
      data-slider-mobile="{{ section.settings.enable_slider_mobile }}"
      data-truncate-desktop="{{ truncate_desktop }}"
      data-truncate-mobile="{{ truncate_mobile }}"
      data-expanded="false"
    >
      {% render 'settings-section-header-content',
        section: section,
        additional_header_content: additional_header_content
      %}

      <div
        class="collection-list__collections standard-grid-spacing section-blocks__content"
        data-standard-grid-spacing-type="collection-list"
        data-collection-item-style="{{ section.settings.collection_item_style }}"
        style="--collection-item-image-padding: {{ section.settings.image_spacing }}px;"
      >
        {% if has_slider -%}
          {% liquid
            assign gap = 12
            assign gap_above_1024 = 16
            assign gap_above_1200 = 24

            if section.settings.collection_item_style == 'outlined'
              assign gap = 1
              assign gap_above_1024 = 1
              assign gap_above_1200 = 1
            endif
          -%}

          {%
            render 'scroll-slider',
            navigation_container: '.collection-list__inner',
            id: 'collection-list',
            slider_items: collection_items,
            columns: section.settings.num_columns_mobile,
            columns_above_720: section.settings.num_columns,
            gap: gap,
            gap_above_1024: gap_above_1024,
            gap_above_1200: gap_above_1200,
            peek: 24,
            peek_above_720: 0,
            full_width_below_720: true,
            peek_and_full_width_below_720: true,
            disable_above_720: disable_slider_desktop,
            disable_below_720: disable_slider_mobile,
          %}
          {% render 'scroll-slider-navigation-buttons' %}
        {%- else -%}
          {{ collection_items }}
        {%- endif %}
      </div>

      {% render 'section-footer', content: footer_content %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection_list.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ],
    "templates": [
      "password"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:shared.settings.section_header.title"
    },
    {
      "type": "checkbox",
      "id": "center_content",
      "default": true,
      "label": "t:shared.settings.section_header.center_content.label"
    },
    {
      "type": "text",
      "id": "preheading",
      "label": "t:shared.settings.general.accent.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:shared.settings.section_header.heading.label",
      "default": "Collection list"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:shared.settings.section_header.sub_heading.label"
    },
    {
      "id": "button_link",
      "type": "url",
      "label": "t:shared.settings.button_link.label"
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "t:shared.settings.button_label.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:shared.settings.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:shared.settings.button_style.option_primary"
        },
        {
          "value": "secondary",
          "label": "t:shared.settings.button_style.option_secondary"
        },
        {
          "value": "tertiary",
          "label": "t:shared.settings.button_style.option_tertiary"
        },
        {
          "value": "text",
          "label": "t:shared.settings.button_style.option_text"
        }
      ]
    },
    {
      "type": "range",
      "id": "maximum_content_width",
      "label": "t:shared.settings.section_header.maximum_content_width.label",
      "min": 400,
      "max": 1000,
      "step": 50,
      "default": 650,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.collection_sections_shared.settings.header__collection_list.content"
    },
    {
      "id": "collections",
      "type": "collection_list",
      "label": "t:sections.collection_sections_shared.settings.collection_list.label",
      "limit": 50
    },
    {
      "type": "header",
      "content": "t:shared.settings.header__desktop_layout.content"
    },
    {
      "type": "select",
      "id": "num_columns",
      "label": "t:shared.settings.num_columns.label",
      "options": [
        {
          "value": "4",
          "label": "t:shared.settings.num_columns.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_columns.options.5"
        },
        {
          "value": "6",
          "label": "t:shared.settings.num_columns.options.6"
        }
      ],
      "default": "5"
    },
    {
      "type": "select",
      "id": "num_rows",
      "label": "t:shared.settings.num_rows.label",
      "options": [
        {
          "value": "all",
          "label": "t:shared.settings.num_rows.options.all"
        },
        {
          "value": "1",
          "label": "t:shared.settings.num_rows.options.1"
        },
        {
          "value": "2",
          "label": "t:shared.settings.num_rows.options.2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.num_rows.options.3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.num_rows.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_rows.options.5"
        }
      ],
      "default": "all",
      "info": "t:shared.settings.num_rows.info"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_desktop",
      "label": "t:shared.settings.enable_slider_desktop.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.header__mobile_layout.content"
    },
    {
      "type": "select",
      "id": "num_columns_mobile",
      "label": "t:shared.settings.num_columns.label_mobile",
      "options": [
        {
          "value": "2",
          "label": "t:shared.settings.num_columns.options.2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.num_columns.options.3"
        }
      ],
      "default": "2"
    },
    {
      "type": "select",
      "id": "num_rows_mobile",
      "label": "t:shared.settings.num_rows.label_mobile",
      "options": [
        {
          "value": "all",
          "label": "t:shared.settings.num_rows.options.all"
        },
        {
          "value": "2",
          "label": "t:shared.settings.num_rows.options.2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.num_rows.options.3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.num_rows.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_rows.options.5"
        }
      ],
      "default": "all",
      "info": "t:shared.settings.num_rows.info"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_mobile",
      "label": "t:shared.settings.enable_slider_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.collection_sections_shared.settings.header__collection_items.content"
    },
    {
      "type": "checkbox",
      "id": "show_product_counts",
      "label": "t:sections.collection_sections_shared.settings.show_product_counts.label",
      "default": true
    },
    {
      "type": "select",
      "id": "collection_item_style",
      "label": "t:shared.settings.collection_listing.collection_item_style.label",
      "options": [
        {
          "value": "plain",
          "label": "t:shared.settings.collection_listing.collection_item_style.option_plain"
        },
        {
          "value": "filled",
          "label": "t:shared.settings.collection_listing.collection_item_style.option_filled"
        },
        {
          "value": "outlined",
          "label": "t:shared.settings.collection_listing.collection_item_style.option_outlined"
        }
      ],
      "default": "plain"
    },
    {
      "type": "select",
      "id": "image_source",
      "label": "t:shared.settings.collection_listing.image_source.label",
      "options": [
        {
          "value": "collection",
          "label": "t:shared.settings.collection_listing.image_source.option_collection"
        },
        {
          "value": "product",
          "label": "t:shared.settings.collection_listing.image_source.option_product"
        }
      ],
      "default": "collection"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:shared.settings.aspect_ratio.label",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.option_natural"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.option_portrait"
        },
        {
          "value": "portrait_alt",
          "label": "t:shared.settings.aspect_ratio.option_portrait_alt"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.option_square"
        },
        {
          "value": "landscape_alt",
          "label": "t:shared.settings.aspect_ratio.option_landscape_alt"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.option_landscape"
        }
      ],
      "default": "square"
    },
    {
      "type": "checkbox",
      "id": "image_circle_crop_enable",
      "label": "t:shared.settings.collection_listing.image_crop.label",
      "info": "t:shared.settings.collection_listing.image_crop.info",
      "default": true
    },
    {
      "type": "range",
      "id": "image_spacing",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "t:shared.settings.image_spacing.label",
      "default": 10
    },
    {
      "type": "select",
      "id": "title_font_type",
      "label": "t:shared.settings.typography.title_font.label",
      "options": [
        {
          "value": "body",
          "label": "t:shared.settings.typography.title_font.option_body"
        },
        {
          "value": "heading",
          "label": "t:shared.settings.typography.title_font.option_heading"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:shared.settings.alignment_horizontal.text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:shared.settings.alignment_horizontal.options.left"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_horizontal.options.center"
        },
        {
          "value": "right",
          "label": "t:shared.settings.alignment_horizontal.options.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "section_style_spacing_top",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_top.label",
      "default": 36
    },
    {
      "id": "section_style_spacing_bottom",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_bottom.label",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "section_style_enable_animation",
      "default": true,
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list.presets.name"
    }
  ]
}
{% endschema %}
