{%- liquid
  assign min_height = section.settings.min_height
  assign min_height_mobile = section.settings.min_height_mobile
  assign image_sizes = '(min-width: 1800px) 1800px, calc(100vw - calc(2 * 16px))'

  if section.settings.full_width
    assign image_sizes = '100vw'
  endif

  assign section_class = 'countdown-banner countdown-banner--bar section'

  if section.settings.background_image != blank
    capture image_overlay_style_for_content
      render 'settings-image-overlay-style-for-content', local_settings: section.settings
    endcapture
  endif

  if settings.enable_section_animations and section.settings.section_style_enable_animation
    assign section_class = section_class | append: ' animation animation--countdown-bar'
  endif
-%}

<div
  class="{{ section_class }}"
  style="
    --min-height: {{ min_height }}px;
    --min-height-mobile: {{ min_height_mobile }}px;
    {% render 'settings-color-schemes-style', local_settings: section.settings %}
    {% render 'settings-section-style-style' %}
    {{ image_overlay_style_for_content }}
  "
  data-section-id="{{ section.id }}"
  data-section-type="countdown-bar"
>
  <div
    class="
      section-inner
      {% if section.settings.full_width %}section-inner--full-width{% endif %}
    "
  >
    <div class="countdown-banner__inner">
      {% if section.settings.background_image != blank -%}
        {% render 'settings-background-image', local_settings: section.settings, sizes: image_sizes %}

        <div
          class="image-overlay animation--image-overlay"
          {%- render 'settings-image-overlay', local_settings: section.settings -%}
        ></div>
      {%- endif %}

      <div class="countdown-banner__content">
        <div class="countdown-banner__bar animation--container">
          {% if section.settings.heading != blank -%}
            <div class="countdown-banner__bar-item countdown-banner__bar-item--heading">
              <h4 class="ff-heading fs-heading-4-base">{{ section.settings.heading }}</h4>
            </div>
          {%- endif %}

          <div class="countdown-banner__bar-item countdown-banner__bar-item--timer">
            {% render 'countdown-timer',
              year: section.settings.year,
              month: section.settings.month,
              day: section.settings.day,
              hour: section.settings.hour,
              minute: section.settings.minute,
              size: 'small',
              time_zone_selection: section.settings.time_zone_selection,
              hide_timer_on_complete: section.settings.hide_timer_on_complete,
              timer_complete_message: section.settings.timer_complete_message
            -%}
          </div>

          {% if section.settings.text != blank
            or section.settings.button_label != blank
            and section.settings.button_link != blank
          -%}
            <div class="countdown-banner__bar-item countdown-banner__bar-item--text">
              {% if section.settings.text != blank -%}
                <div class="countdown-banner__bar-text rte">
                  {{ section.settings.text }}
                </div>
              {%- endif %}

              {% if section.settings.button_label != blank -%}
                {% render 'button',
                  label: section.settings.button_label,
                  link: section.settings.button_link,
                  button_size: 'small',
                  button_style: section.settings.button_style,
                  wrapper_class: 'countdown-banner__button'
                -%}
              {%- endif %}
            </div>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.countdown_bar.name",
  "tag": "section",
  "class": "shopify-section--full-width",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "range",
      "id": "min_height",
      "min": 60,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:shared.settings.countdown.min_height.label",
      "default": 60
    },
    {
      "type": "range",
      "id": "min_height_mobile",
      "min": 60,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:shared.settings.countdown.min_height_mobile.label",
      "default": 60
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:shared.settings.section_style.full_width.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.countdown.header__timer.content"
    },
    {
      "type": "number",
      "id": "year",
      "label": "t:shared.settings.countdown.year.label",
      "default": 2025
    },
    {
      "type": "select",
      "id": "month",
      "label": "t:shared.settings.countdown.month.label",
      "default": "january",
      "options": [
        {
          "value": "january",
          "label": "t:shared.settings.countdown.month.option__january"
        },
        {
          "value": "february",
          "label": "t:shared.settings.countdown.month.option__february"
        },
        {
          "value": "march",
          "label": "t:shared.settings.countdown.month.option__march"
        },
        {
          "value": "april",
          "label": "t:shared.settings.countdown.month.option__april"
        },
        {
          "value": "may",
          "label": "t:shared.settings.countdown.month.option__may"
        },
        {
          "value": "june",
          "label": "t:shared.settings.countdown.month.option__june"
        },
        {
          "value": "july",
          "label": "t:shared.settings.countdown.month.option__july"
        },
        {
          "value": "august",
          "label": "t:shared.settings.countdown.month.option__august"
        },
        {
          "value": "september",
          "label": "t:shared.settings.countdown.month.option__september"
        },
        {
          "value": "october",
          "label": "t:shared.settings.countdown.month.option__october"
        },
        {
          "value": "november",
          "label": "t:shared.settings.countdown.month.option__november"
        },
        {
          "value": "december",
          "label": "t:shared.settings.countdown.month.option__december"
        }
      ]
    },
    {
      "type": "select",
      "id": "day",
      "label": "t:shared.settings.countdown.day.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "t:shared.settings.countdown.day.option__1"
        },
        {
          "value": "2",
          "label": "t:shared.settings.countdown.day.option__2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.countdown.day.option__3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.countdown.day.option__4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.countdown.day.option__5"
        },
        {
          "value": "6",
          "label": "t:shared.settings.countdown.day.option__6"
        },
        {
          "value": "7",
          "label": "t:shared.settings.countdown.day.option__7"
        },
        {
          "value": "8",
          "label": "t:shared.settings.countdown.day.option__8"
        },
        {
          "value": "9",
          "label": "t:shared.settings.countdown.day.option__9"
        },
        {
          "value": "10",
          "label": "t:shared.settings.countdown.day.option__10"
        },
        {
          "value": "11",
          "label": "t:shared.settings.countdown.day.option__11"
        },
        {
          "value": "12",
          "label": "t:shared.settings.countdown.day.option__12"
        },
        {
          "value": "13",
          "label": "t:shared.settings.countdown.day.option__13"
        },
        {
          "value": "14",
          "label": "t:shared.settings.countdown.day.option__14"
        },
        {
          "value": "15",
          "label": "t:shared.settings.countdown.day.option__15"
        },
        {
          "value": "16",
          "label": "t:shared.settings.countdown.day.option__16"
        },
        {
          "value": "17",
          "label": "t:shared.settings.countdown.day.option__17"
        },
        {
          "value": "18",
          "label": "t:shared.settings.countdown.day.option__18"
        },
        {
          "value": "19",
          "label": "t:shared.settings.countdown.day.option__19"
        },
        {
          "value": "20",
          "label": "t:shared.settings.countdown.day.option__20"
        },
        {
          "value": "21",
          "label": "t:shared.settings.countdown.day.option__21"
        },
        {
          "value": "22",
          "label": "t:shared.settings.countdown.day.option__22"
        },
        {
          "value": "23",
          "label": "t:shared.settings.countdown.day.option__23"
        },
        {
          "value": "24",
          "label": "t:shared.settings.countdown.day.option__24"
        },
        {
          "value": "25",
          "label": "t:shared.settings.countdown.day.option__25"
        },
        {
          "value": "26",
          "label": "t:shared.settings.countdown.day.option__26"
        },
        {
          "value": "27",
          "label": "t:shared.settings.countdown.day.option__27"
        },
        {
          "value": "28",
          "label": "t:shared.settings.countdown.day.option__28"
        },
        {
          "value": "29",
          "label": "t:shared.settings.countdown.day.option__29"
        },
        {
          "value": "30",
          "label": "t:shared.settings.countdown.day.option__30"
        },
        {
          "value": "31",
          "label": "t:shared.settings.countdown.day.option__31"
        }
      ]
    },
    {
      "type": "select",
      "id": "hour",
      "label": "t:shared.settings.countdown.hour.label",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "t:shared.settings.countdown.hour.option__0"
        },
        {
          "value": "1",
          "label": "t:shared.settings.countdown.hour.option__1"
        },
        {
          "value": "2",
          "label": "t:shared.settings.countdown.hour.option__2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.countdown.hour.option__3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.countdown.hour.option__4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.countdown.hour.option__5"
        },
        {
          "value": "6",
          "label": "t:shared.settings.countdown.hour.option__6"
        },
        {
          "value": "7",
          "label": "t:shared.settings.countdown.hour.option__7"
        },
        {
          "value": "8",
          "label": "t:shared.settings.countdown.hour.option__8"
        },
        {
          "value": "9",
          "label": "t:shared.settings.countdown.hour.option__9"
        },
        {
          "value": "10",
          "label": "t:shared.settings.countdown.hour.option__10"
        },
        {
          "value": "11",
          "label": "t:shared.settings.countdown.hour.option__11"
        },
        {
          "value": "12",
          "label": "t:shared.settings.countdown.hour.option__12"
        },
        {
          "value": "13",
          "label": "t:shared.settings.countdown.hour.option__13"
        },
        {
          "value": "14",
          "label": "t:shared.settings.countdown.hour.option__14"
        },
        {
          "value": "15",
          "label": "t:shared.settings.countdown.hour.option__15"
        },
        {
          "value": "16",
          "label": "t:shared.settings.countdown.hour.option__16"
        },
        {
          "value": "17",
          "label": "t:shared.settings.countdown.hour.option__17"
        },
        {
          "value": "18",
          "label": "t:shared.settings.countdown.hour.option__18"
        },
        {
          "value": "19",
          "label": "t:shared.settings.countdown.hour.option__19"
        },
        {
          "value": "20",
          "label": "t:shared.settings.countdown.hour.option__20"
        },
        {
          "value": "21",
          "label": "t:shared.settings.countdown.hour.option__21"
        },
        {
          "value": "22",
          "label": "t:shared.settings.countdown.hour.option__22"
        },
        {
          "value": "23",
          "label": "t:shared.settings.countdown.hour.option__23"
        }
      ]
    },
    {
      "id": "minute",
      "type": "select",
      "label": "t:shared.settings.countdown.minute.label",
      "default": "0",
      "options": [
        {
          "value": "0",
          "label": "t:shared.settings.countdown.minute.option__0"
        },
        {
          "value": "1",
          "label": "t:shared.settings.countdown.minute.option__1"
        },
        {
          "value": "2",
          "label": "t:shared.settings.countdown.minute.option__2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.countdown.minute.option__3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.countdown.minute.option__4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.countdown.minute.option__5"
        },
        {
          "value": "6",
          "label": "t:shared.settings.countdown.minute.option__6"
        },
        {
          "value": "7",
          "label": "t:shared.settings.countdown.minute.option__7"
        },
        {
          "value": "8",
          "label": "t:shared.settings.countdown.minute.option__8"
        },
        {
          "value": "9",
          "label": "t:shared.settings.countdown.minute.option__9"
        },
        {
          "value": "10",
          "label": "t:shared.settings.countdown.minute.option__10"
        },
        {
          "value": "11",
          "label": "t:shared.settings.countdown.minute.option__11"
        },
        {
          "value": "12",
          "label": "t:shared.settings.countdown.minute.option__12"
        },
        {
          "value": "13",
          "label": "t:shared.settings.countdown.minute.option__13"
        },
        {
          "value": "14",
          "label": "t:shared.settings.countdown.minute.option__14"
        },
        {
          "value": "15",
          "label": "t:shared.settings.countdown.minute.option__15"
        },
        {
          "value": "16",
          "label": "t:shared.settings.countdown.minute.option__16"
        },
        {
          "value": "17",
          "label": "t:shared.settings.countdown.minute.option__17"
        },
        {
          "value": "18",
          "label": "t:shared.settings.countdown.minute.option__18"
        },
        {
          "value": "19",
          "label": "t:shared.settings.countdown.minute.option__19"
        },
        {
          "value": "20",
          "label": "t:shared.settings.countdown.minute.option__20"
        },
        {
          "value": "21",
          "label": "t:shared.settings.countdown.minute.option__21"
        },
        {
          "value": "22",
          "label": "t:shared.settings.countdown.minute.option__22"
        },
        {
          "value": "23",
          "label": "t:shared.settings.countdown.minute.option__23"
        },
        {
          "value": "24",
          "label": "t:shared.settings.countdown.minute.option__24"
        },
        {
          "value": "25",
          "label": "t:shared.settings.countdown.minute.option__25"
        },
        {
          "value": "26",
          "label": "t:shared.settings.countdown.minute.option__26"
        },
        {
          "value": "27",
          "label": "t:shared.settings.countdown.minute.option__27"
        },
        {
          "value": "28",
          "label": "t:shared.settings.countdown.minute.option__28"
        },
        {
          "value": "29",
          "label": "t:shared.settings.countdown.minute.option__29"
        },
        {
          "value": "30",
          "label": "t:shared.settings.countdown.minute.option__30"
        },
        {
          "value": "31",
          "label": "t:shared.settings.countdown.minute.option__31"
        },
        {
          "value": "32",
          "label": "t:shared.settings.countdown.minute.option__32"
        },
        {
          "value": "33",
          "label": "t:shared.settings.countdown.minute.option__33"
        },
        {
          "value": "34",
          "label": "t:shared.settings.countdown.minute.option__34"
        },
        {
          "value": "35",
          "label": "t:shared.settings.countdown.minute.option__35"
        },
        {
          "value": "36",
          "label": "t:shared.settings.countdown.minute.option__36"
        },
        {
          "value": "37",
          "label": "t:shared.settings.countdown.minute.option__37"
        },
        {
          "value": "38",
          "label": "t:shared.settings.countdown.minute.option__38"
        },
        {
          "value": "39",
          "label": "t:shared.settings.countdown.minute.option__39"
        },
        {
          "value": "40",
          "label": "t:shared.settings.countdown.minute.option__40"
        },
        {
          "value": "41",
          "label": "t:shared.settings.countdown.minute.option__41"
        },
        {
          "value": "42",
          "label": "t:shared.settings.countdown.minute.option__42"
        },
        {
          "value": "43",
          "label": "t:shared.settings.countdown.minute.option__43"
        },
        {
          "value": "44",
          "label": "t:shared.settings.countdown.minute.option__44"
        },
        {
          "value": "45",
          "label": "t:shared.settings.countdown.minute.option__45"
        },
        {
          "value": "46",
          "label": "t:shared.settings.countdown.minute.option__46"
        },
        {
          "value": "47",
          "label": "t:shared.settings.countdown.minute.option__47"
        },
        {
          "value": "48",
          "label": "t:shared.settings.countdown.minute.option__48"
        },
        {
          "value": "49",
          "label": "t:shared.settings.countdown.minute.option__49"
        },
        {
          "value": "50",
          "label": "t:shared.settings.countdown.minute.option__50"
        },
        {
          "value": "51",
          "label": "t:shared.settings.countdown.minute.option__51"
        },
        {
          "value": "52",
          "label": "t:shared.settings.countdown.minute.option__52"
        },
        {
          "value": "53",
          "label": "t:shared.settings.countdown.minute.option__53"
        },
        {
          "value": "54",
          "label": "t:shared.settings.countdown.minute.option__54"
        },
        {
          "value": "55",
          "label": "t:shared.settings.countdown.minute.option__55"
        },
        {
          "value": "56",
          "label": "t:shared.settings.countdown.minute.option__56"
        },
        {
          "value": "57",
          "label": "t:shared.settings.countdown.minute.option__57"
        },
        {
          "value": "58",
          "label": "t:shared.settings.countdown.minute.option__58"
        },
        {
          "value": "59",
          "label": "t:shared.settings.countdown.minute.option__59"
        }
      ]
    },
    {
      "type": "select",
      "id": "time_zone_selection",
      "label": "t:shared.settings.countdown.time_zone_selection.label",
      "options": [
        {
          "value": "shop",
          "label": "t:shared.settings.countdown.time_zone_selection.option__shop"
        },
        {
          "value": "user",
          "label": "t:shared.settings.countdown.time_zone_selection.option__user"
        }
      ],
      "default": "shop",
      "info": "t:shared.settings.countdown.time_zone_selection.info"
    },
    {
      "type": "checkbox",
      "id": "hide_timer_on_complete",
      "label": "t:shared.settings.countdown.hide_timer_on_complete.label",
      "default": false
    },
    {
      "type": "richtext",
      "id": "timer_complete_message",
      "label": "t:shared.settings.countdown.timer_complete_message.label"
    },
    {
      "type": "header",
      "content": "t:shared.settings.countdown.header__content.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:shared.settings.countdown.heading.label",
      "default": "Countdown bar"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:shared.settings.countdown.text.label",
      "default": "<p>Use this timer to create urgency and boost sales.</p>"
    },
    {
      "id": "button_link",
      "type": "url",
      "label": "t:shared.settings.button_link.label",
      "default": "/collections"
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "t:shared.settings.button_label.label",
      "default": "Button"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:shared.settings.button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:shared.settings.button_style.option_primary",
          "group": "t:shared.settings.button_style.option_group_theme_colors"
        },
        {
          "value": "secondary",
          "label": "t:shared.settings.button_style.option_secondary",
          "group": "t:shared.settings.button_style.option_group_theme_colors"
        },
        {
          "value": "tertiary",
          "label": "t:shared.settings.button_style.option_tertiary",
          "group": "t:shared.settings.button_style.option_group_theme_colors"
        },
        {
          "value": "solid",
          "label": "t:shared.settings.button_style.option_solid",
          "group": "t:shared.settings.button_style.option_group_local_colors"
        },
        {
          "value": "outline",
          "label": "t:shared.settings.button_style.option_outline",
          "group": "t:shared.settings.button_style.option_group_local_colors"
        },
        {
          "value": "text",
          "label": "t:shared.settings.button_style.option_text",
          "group": "t:shared.settings.button_style.option_group_local_colors"
        }
      ],
      "default": "solid"
    },
    {
      "type": "header",
      "content": "t:sections.sales_banner.settings.header_colors.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:shared.settings.color_scheme.select.label",
      "info": "t:shared.settings.color_scheme.info",
      "default": "sale",
      "options": [
        {
          "value": "default",
          "label": "t:shared.settings.color_scheme.select.option_default",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "inverse",
          "label": "t:shared.settings.color_scheme.select.option_inverse",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "soft",
          "label": "t:shared.settings.color_scheme.select.option_soft",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "accent",
          "label": "t:shared.settings.color_scheme.select.option_accent",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "sale",
          "label": "t:shared.settings.color_scheme.select.option_sale",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "color_scheme_1",
          "label": "t:shared.settings.color_scheme.select.option_scheme_1",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        },
        {
          "value": "color_scheme_2",
          "label": "t:shared.settings.color_scheme.select.option_scheme_2",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "override_with_custom_colors",
      "label": "t:shared.settings.color_scheme.override",
      "default": false
    },
    {
      "type": "color",
      "id": "override_color_text",
      "label": "t:shared.settings.color_scheme.color_text",
      "default": "#393939"
    },
    {
      "type": "color",
      "id": "override_color_background",
      "label": "t:shared.settings.color_scheme.color_background",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:shared.settings.background_image.header"
    },
    {
      "type": "paragraph",
      "content": "t:shared.settings.background_image.paragraph"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:shared.settings.background_image.image.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:shared.settings.background_image.image_mobile.label"
    },
    {
      "id": "background_image_focal_point",
      "type": "select",
      "label": "t:shared.settings.focal_point.label",
      "options": [
        {
          "label": "t:shared.settings.focal_point.option_image_presentation",
          "value": "image_presentation"
        },
        {
          "label": "t:shared.settings.focal_point.option_center",
          "value": "center"
        },
        {
          "label": "t:shared.settings.focal_point.option_top",
          "value": "top"
        },
        {
          "label": "t:shared.settings.focal_point.option_bottom",
          "value": "bottom"
        },
        {
          "label": "t:shared.settings.focal_point.option_left",
          "value": "left"
        },
        {
          "label": "t:shared.settings.focal_point.option_right",
          "value": "right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "id": "background_image_mobile_focal_point",
      "type": "select",
      "label": "t:shared.settings.mobile_focal_point.label",
      "options": [
        {
          "label": "t:shared.settings.focal_point.option_image_presentation",
          "value": "image_presentation"
        },
        {
          "label": "t:shared.settings.focal_point.option_center",
          "value": "center"
        },
        {
          "label": "t:shared.settings.focal_point.option_top",
          "value": "top"
        },
        {
          "label": "t:shared.settings.focal_point.option_bottom",
          "value": "bottom"
        },
        {
          "label": "t:shared.settings.focal_point.option_left",
          "value": "left"
        },
        {
          "label": "t:shared.settings.focal_point.option_right",
          "value": "right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "header",
      "content": "t:shared.settings.image_overlay.header"
    },
    {
      "type": "paragraph",
      "content": "t:shared.settings.image_overlay.note_background"
    },
    {
      "type": "paragraph",
      "content": "t:shared.settings.image_overlay.note_global_settings"
    },
    {
      "type": "range",
      "id": "image_overlay_tint_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:shared.settings.image_overlay.tint_opacity.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "image_overlay_tint_style",
      "label": "t:shared.settings.image_overlay.tint_style.label",
      "default": "solid",
      "options": [
        {
          "value": "solid",
          "label": "t:shared.settings.image_overlay.tint_style.option_solid"
        },
        {
          "value": "gradient_down",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_down"
        },
        {
          "value": "gradient_right",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_right"
        },
        {
          "value": "gradient_left",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_left"
        },
        {
          "value": "gradient_up",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_up"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "image_overlay_override_with_custom_colors",
      "label": "t:shared.settings.color_scheme.override",
      "default": false
    },
    {
      "type": "color",
      "id": "image_overlay_override_color_text",
      "label": "t:shared.settings.color_scheme.color_text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "image_overlay_override_color_tint",
      "label": "t:shared.settings.color_scheme.color_tint",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "section_style_spacing_top",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_top.label",
      "default": 36
    },
    {
      "id": "section_style_spacing_bottom",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_bottom.label",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "section_style_enable_animation",
      "default": true,
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.countdown_bar.presets.name"
    }
  ]
}
{% endschema %}
