{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign product_link = product.url | within: collection
  assign image_aspect_ratio = section.settings.image_aspect_ratio
-%}

<div class="quick-product__background-spacer"></div>

{%- capture rendered_content -%}
  <div
    class="quick-product"
    data-quick-product
    data-quick-product-type="view"
    data-quick-add-enabled="{{ settings.enable_quick_add }}"
    data-section-type="product"
    data-section-id="{{ section.id }}"
  >
    <div class="quick-product__left">
      <div class="product__media">
        {% for media in product.media -%}
          {% liquid
            assign media_aspect_ratio = image_aspect_ratio

            if media.media_type == 'model'
              assign media_aspect_ratio = 'square'
            endif
          -%}

          <div
            class="product__media-item {% unless media.id == featured_media.id %} hidden{% endunless %}"
            data-media-item-id="{{ media.id }}"
            data-media-type="{{ media.media_type }}"
            data-product-media-wrapper
            {% if media.media_type == 'image' or media.media_type == 'model' -%}
              data-aspect-ratio="{{ media_aspect_ratio }}"
            {%- endif %}
          >
            {%
              render 'media',
              media: media,
              fallback_alt: product.title,
              link: product_link,
              enable_product_lightbox: section.settings.enable_product_lightbox,
              loop_video: section.settings.enable_video_looping,
              aspect_ratio: section.settings.image_aspect_ratio,
              sizes: "300px"
            -%}
          </div>
        {%- else -%}
          <div class="product__media-item placeholder-image">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {%- endfor %}
      </div>

      {% if section.settings.show_thumbnails -%}
        {%
          render 'product-thumbnails',
          prod: product,
          featured_media: featured_media,
          aspect_ratio: section.settings.image_aspect_ratio,
          thumbnail_size: 'small',
          thumbnail_position: 'bottom',
        %}
      {%- endif %}
    </div>

    <div class="quick-product__right">
      <div class="quick-product__right-sticky-header" data-quick-sticky-header data-has-price="{{ section.settings.show_price }}">
        {% if product != blank -%}
          <div class="product__title ff-heading fs-body-100">{{ product.title }}</div>

          {% if section.settings.show_price -%}
            <div class="product__price ff-product-price fs-body-100'">
              {% render 'product-price',
                prod: product,
                current_variant: current_variant,
                show_discount: section.settings.show_discount,
                discount_format: section.settings.discount_format
              -%}
            </div>
          {%- endif %}
        {%- endif %}
      </div>

      <div class="quick-product__right-viewport" data-scroll-lock-ignore>
        <div class="quick-product__right-inner">
          <div class="quick-product__header-block-wrap">
            {% render 'product-block-header',
              prod: product,
              block_settings: section.settings,
              current_variant: current_variant,
              is_quick: true,
              featured_media: featured_media
            -%}
          </div>

          <div class="quick-product__product-blocks-wrapper animation animation--item">
            {% render 'product-blocks',
              prod: product,
              blocks: section.blocks,
              is_quick: true,
              current_variant: current_variant,
              featured_media: featured_media
            -%}
          </div>

          {% if section.settings.enable_gift_card_recipient and product.gift_card? -%}
            {% render 'gift-card-recipient-form', source: 'product-display', prod: product %}
          {%- endif %}
        </div>
      </div>

      {% if section.settings.show_add_to_cart_button -%}
        <div class="quick-product__right-viewport-footer">
          {% render 'product-block-buy-buttons',
            prod: product,
            block: section,
            blocks: section.blocks,
            current_variant: current_variant,
            is_quick: true
          -%}
        </div>
      {%- endif %}
    </div>
  </div>
{%- endcapture -%}

{% render 'quick-product-modal', content: rendered_content, open: true, type: 'quick-view' %}

{% schema %}
{
  "name": "t:sections.main_product_quick_view.name",
  "class": "quick-product--view",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main_product_quick_view.settings.paragraph.content"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "t:shared.settings.aspect_ratio.label",
      "default": "natural",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.option_natural"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.option_square"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.option_portrait"
        },
        {
          "value": "portrait_alt",
          "label": "t:shared.settings.aspect_ratio.option_portrait_alt"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.option_landscape"
        },
        {
          "value": "landscape_alt",
          "label": "t:shared.settings.aspect_ratio.option_landscape_alt"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main_product_overview.settings.gift_card_header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_gift_card_recipient",
      "default": true,
      "label": "t:sections.main_product_overview.settings.enable_gift_card_recipient.label",
      "info": "t:sections.main_product_overview.settings.enable_gift_card_recipient.info"
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails",
      "label": "t:sections.main_product_quick_view.settings.show_thumbnails.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.main_product_overview.blocks.product_header.name"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_divider.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_vendor.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_sku.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_link",
      "label": "t:sections.main_product_quick_view.settings.show_link.label",
      "default": true
    },
    {
      "type": "select",
      "id": "header_position_mobile",
      "label": "t:sections.main_product_quick_view.settings.header_position_mobile.label",
      "default": "above",
      "options": [
        {
          "value": "above",
          "label": "t:sections.main_product_quick_view.settings.header_position_mobile.option_above"
        },
        {
          "value": "below",
          "label": "t:sections.main_product_quick_view.settings.header_position_mobile.option_below"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main_product_overview.blocks.product_header.settings.header__price.content"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_price.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_discount",
      "label": "t:shared.settings.show_discount.label",
      "default": true
    },
    {
      "type": "select",
      "id": "discount_format",
      "label": "t:shared.settings.discount_format.label",
      "default": "percent_off",
      "options": [
        {
          "value": "sale_text",
          "label": "t:shared.settings.discount_format.option_sale_text"
        },
        {
          "value": "percent_off",
          "label": "t:shared.settings.discount_format.option_percent_off"
        },
        {
          "value": "minus_percent",
          "label": "t:shared.settings.discount_format.option_minus_percent"
        },
        {
          "value": "save_percent",
          "label": "t:shared.settings.discount_format.option_save_percent"
        },
        {
          "value": "amount_off",
          "label": "t:shared.settings.discount_format.option_amount_off"
        },
        {
          "value": "minus_amount",
          "label": "t:shared.settings.discount_format.option_minus_amount"
        },
        {
          "value": "save_amount",
          "label": "t:shared.settings.discount_format.option_save_amount"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_shop_pay",
      "label": "t:sections.main_product_overview.blocks.price.settings.show_shop_pay.label",
      "info": "t:sections.main_product_overview.blocks.price.settings.show_shop_pay.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.product_review_ratings.header.content",
      "info": "t:shared.settings.product_review_ratings.header.info"
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "t:shared.settings.product_review_ratings.show_star_rating.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rating_count",
      "label": "t:shared.settings.product_review_ratings.show_rating_count.label",
      "default": true
    },
    {
      "type": "select",
      "id": "rating_style",
      "label": "t:shared.settings.product_review_ratings.rating_style.label",
      "default": "compact",
      "options": [
        {
          "value": "regular",
          "label": "t:shared.settings.product_review_ratings.rating_style.option_regular"
        },
        {
          "value": "compact",
          "label": "t:shared.settings.product_review_ratings.rating_style.option_compact"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.badges.header.content",
      "info": "t:shared.settings.badges.header.info"
    },
    {
      "type": "checkbox",
      "id": "show_sale_badge",
      "label": "t:shared.settings.badges.show_sale_badge.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_new_badge",
      "label": "t:shared.settings.badges.show_new_badge.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_custom_badges",
      "label": "t:shared.settings.badges.show_custom_badges.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.main_product_quick_view.settings.header__product_footer.content"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "default": true,
      "label": "t:sections.main_product_overview.blocks.buy_buttons.settings.show_quantity_selector.label"
    },
    {
      "type": "checkbox",
      "id": "show_add_to_cart_button",
      "default": true,
      "label": "t:sections.main_product_quick_view.settings.show_add_to_cart_button.label"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:sections.main_product_details.blocks.accordion.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "expand_by_default",
          "label": "t:sections.main_product_details.blocks.accordion.settings.expand_by_default.label",
          "default": false
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.main_product_details.blocks.accordion.settings.heading.label",
          "info": "t:sections.main_product_details.blocks.accordion.settings.heading.info",
          "default": "Collapsible row"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main_product_details.blocks.accordion.settings.content.label",
          "default": "<p>Add your collapsible row content here.</p>"
        },
        {
          "type": "page",
          "id": "page_for_content",
          "label": "t:shared.settings.general.page_for_content.label",
          "info": "t:shared.settings.general.page_for_content.info"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main_product_details.blocks.accordion.settings.custom_liquid.label",
          "info": "t:sections.main_product_details.blocks.accordion.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main_product_overview.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.main_product_overview.blocks.shared_settings.title.label",
          "default": "Description"
        },
        {
          "type": "header",
          "content": "t:sections.main_product_overview.blocks.shared_settings.header__presentation.content"
        },
        {
          "type": "select",
          "id": "truncate_num_lines",
          "label": "t:shared.settings.truncate.label",
          "options": [
            {
              "value": "0",
              "label": "t:shared.settings.truncate.truncate_0"
            },
            {
              "value": "3",
              "label": "t:shared.settings.truncate.truncate_3"
            },
            {
              "value": "4",
              "label": "t:shared.settings.truncate.truncate_4"
            },
            {
              "value": "5",
              "label": "t:shared.settings.truncate.truncate_5"
            },
            {
              "value": "6",
              "label": "t:shared.settings.truncate.truncate_6"
            },
            {
              "value": "7",
              "label": "t:shared.settings.truncate.truncate_7"
            },
            {
              "value": "8",
              "label": "t:shared.settings.truncate.truncate_8"
            }
          ],
          "default": "0",
          "info": "t:shared.settings.truncate.info"
        },
        {
          "type": "header",
          "content": "t:sections.main_product_overview.blocks.shared_settings.header__display_as_row"
        },
        {
          "id": "display_as_collapsible_row",
          "type": "checkbox",
          "label": "t:sections.main_product_overview.blocks.shared_settings.display_as_collapsible_row.label",
          "default": false
        },
        {
          "id": "expand_by_default",
          "type": "checkbox",
          "label": "t:sections.main_product_overview.blocks.shared_settings.expand_by_default.label",
          "default": false
        }
      ]
    },
    {
      "type": "full_details_link",
      "name": "t:sections.main_product_quick_view.blocks.full_details_link.name",
      "settings": [
        {
          "type": "select",
          "id": "link_style",
          "label": "t:sections.main_product_quick_view.blocks.full_details_link.settings.link_style.label",
          "default": "text",
          "options": [
            {
              "value": "text",
              "label": "t:sections.main_product_quick_view.blocks.full_details_link.settings.link_style.option_text"
            },
            {
              "value": "button",
              "label": "t:sections.main_product_quick_view.blocks.full_details_link.settings.link_style.option_outline"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_arrow",
          "label": "t:sections.main_product_quick_view.blocks.full_details_link.settings.show_arrow.label",
          "default": true,
          "info": "t:sections.main_product_quick_view.blocks.full_details_link.settings.show_arrow.info"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:shared.social_sharing.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:shared.social_sharing.settings.paragraph__1.content"
        },
        {
          "type": "paragraph",
          "content": "t:shared.social_sharing.settings.paragraph__2.content"
        },
        {
          "type": "checkbox",
          "id": "enable_os_share",
          "label": "t:shared.social_sharing.settings.enable_os_share.label",
          "info": "t:shared.social_sharing.settings.enable_os_share.info",
          "default": true
        }
      ]
    },
    {
      "type": "inventory-counter",
      "name": "t:sections.main_product_overview.blocks.inventory_counter.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.label.label",
          "default": "Availability"
        },
        {
          "type": "text",
          "id": "inventory_max",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.inventory_max.label",
          "info": "t:sections.main_product_overview.blocks.inventory_counter.settings.inventory_max.info",
          "default": "100"
        },
        {
          "type": "text",
          "id": "low_inventory_threshold",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.low_inventory_threshold.label",
          "info": "t:sections.main_product_overview.blocks.inventory_counter.settings.low_inventory_threshold.info",
          "default": "40"
        },
        {
          "type": "select",
          "id": "indicator_style",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.label",
          "options": [
            {
              "value": "icon_with_text",
              "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.options.icon_with_text"
            },
            {
              "value": "dot_with_text",
              "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.options.dot_with_text"
            },
            {
              "value": "text",
              "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.options.text"
            }
          ],
          "default": "icon_with_text"
        },
        {
          "type": "checkbox",
          "id": "show_status_bar",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_status_bar.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_inventory_transfer",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_inventory_transfer.label",
          "info": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_inventory_transfer.info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_untracked_quantity",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_untracked_quantity.label",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.main_product_overview.blocks.text.name",
      "settings": [
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.text.label",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.main_product_overview.blocks.text.settings.text.label",
          "default": "<p>Add some text to tell customers more about your product.</p>"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main_product_overview.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "swatch_size",
          "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.label",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.option_small"
            },
            {
              "value": "medium",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.option_medium"
            },
            {
              "value": "large",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.option_large"
            }
          ]
        },
        {
          "type": "select",
          "id": "chip_layout",
          "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.label",
          "default": "4col",
          "options": [
            {
              "value": "4col",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_4col"
            },
            {
              "value": "3col",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_3col"
            },
            {
              "value": "2col",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_2col"
            },
            {
              "value": "natural",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_natural"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
