<div
  class="cart page"
  data-section-id="{{ section.id }}"
  data-section-type="cart"
>
  <div class="cart__container page__inner">
    {% if cart.item_count > 0 -%}
      <form action="{{ routes.cart_url }}" method="post" data-form novalidate class="cart__form">
        <div class="cart__form-main-content">
          <div class="cart__form-header">
            <h1 class="cart__form-title ff-heading fs-heading-1-base">{{ 'cart.general.title' | t }}</h1>

            <span class="cart__form-item-count fs-body-100">
              {{ 'cart.general.items_with_count' | t: count: cart.item_count }}
            </span>
          </div>

          <div class="cart__form-items">
            {% liquid
              for item in cart.items
                render 'cart-item', parent_id: item.id, item: item, section_settings: section.settings
              endfor

              if section.settings.cross_sells_position == 'below-line-items'
                render 'cross-sells', source: 'cart', cart: cart, position: section.settings.cross_sells_position
              endif
            -%}
          </div>
        </div>

        <div class="cart__footer-wrapper">
          <div class="cart__footer">
            {% render 'free-shipping-bar' %}

            <div class="cart__footer-inner">
              {% if settings.show_cart_notes -%}
                <div class="cart__footer-order-note-wrapper" aria-expanded="false" aria-hidden="true">
                  <button
                    type="button"
                    class="cart__footer-order-note-trigger fs-body-75 btn btn--text-link"
                    data-order-note-trigger
                  >
                    <div class="cart__footer-order-note-trigger-icons">
                      {% render 'icon', with icon: 'plus-small' %}
                      {% render 'icon', with icon: 'minus-small', class: 'hidden' %}
                    </div>

                    <span class="cart__footer-order-note-trigger-text" data-cart-not-trigger-text>
                      {{ 'cart.general.order_note_button_add' | t }}
                    </span>
                  </button>

                  <div class="cart__footer-order-note-input" cart-note-input>
                    <label for="CartSpecialInstructions" class="fs-body-100">
                      {{- 'cart.general.order_note_label' | t -}}
                    </label>

                    <textarea
                      name="note"
                      id="CartSpecialInstructions"
                      class="input"
                      placeholder="{{ 'cart.general.order_note_placeholder' | t }}"
                    >
                      {%- liquid
                        if cart.note != blank
                          echo cart.note
                        endif
                      -%}
                    </textarea>
                  </div>
                </div>
              {%- endif %}

              {% if cart.cart_level_discount_applications.size > 0 -%}
                <ul class="cart__item-discounts">
                  {% for discount_application in cart.cart_level_discount_applications -%}
                    <li class="cart__item-discount fs-body-75">
                      {%- render 'icon', icon: 'discount-badge' -%}
                      {{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})
                    </li>
                  {%- endfor %}
                </ul>
              {%- endif %}

              <div class="cart__footer-subtotal">
                <h3 class="ff-body fs-body-200">{{ 'cart.general.subtotal' | t }}</h3>

                <span class="ff-body ff-product-price fs-body-200">
                  {{ cart.total_price | money -}}
                  {%- if section.settings.show_product_currency %} {{ cart.currency.iso_code }}{% endif %}
                </span>
              </div>

              <p class="cart__footer-tax-note ff-body fs-body-75 t-subdued rte">
                {% liquid
                  if cart.taxes_included and shop.shipping_policy.body != blank
                    echo 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url
                  elsif cart.taxes_included
                    echo 'cart.general.taxes_included_but_shipping_at_checkout' | t
                  elsif shop.shipping_policy.body != blank
                    echo 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url
                  else
                    echo 'cart.general.taxes_and_shipping_at_checkout' | t
                  endif
                -%}
              </p>

              <div class="cart__input-buttons">
                <button
                  type="submit"
                  name="update"
                  class="cart__update btn btn--secondary btn--full"
                  aria-label="{{ 'cart.general.update' | t }}"
                >
                  {{ 'cart.general.update' | t }}
                </button>

                <button
                  type="submit"
                  name="checkout"
                  class="cart__submit btn btn--full btn--primary"
                  aria-label="{{ 'cart.general.checkout' | t }}"
                >
                  {{ 'cart.general.checkout' | t }}
                </button>
              </div>

              {% if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif %}
            </div>

            {% liquid
              if section.settings.cross_sells_position == 'below-subtotal'
                render 'cross-sells', source: 'cart', cart: cart, position: section.settings.cross_sells_position
              endif
            -%}
          </div>
        </div>
      </form>
    {%- else -%}
      {% comment %} Cart empty state {% endcomment %}
      <div class="cart__empty">
        <div class="cart__empty-message supports-cookies">
          <h1 class="cart__empty-message-heading ff-heading fs-heading-2-base">{{ 'cart.general.empty' | t }}</h1>

          <p class="cart__empty-message-text fs-body-100">{{ 'cart.general.empty_message' | t }}</p>

          {%- assign empty_label = 'cart.general.continue_shopping' | t -%}

          {% render 'button',
            label: empty_label,
            link: routes.collections_url,
            button_alignment: 'center',
            button_style: 'secondary',
            wrapper_class: 'cart__empty-button'
          -%}
        </div>

        {% comment %}
          Cart no cookies state
          ---------------------
          Browser cookies are required to use the cart. If cookies aren't enabled in the
          browser a message is displayed prompting the user to enable them.
        {% endcomment %}
        <div class="supports-no-cookies">
          <p>{{ 'cart.general.cookies_required' | t }}</p>
        </div>
      </div>
    {%- endif %}
  </div>
</div>

{% schema %}
{
  "tag": "section",
  "name": "t:sections.main_cart.name",
  "class": "cart-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_cart.settings.header__prices.content"
    },
    {
      "id": "show_price_currency",
      "type": "checkbox",
      "label": "t:sections.main_cart.settings.show_price_currency.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:settings_schema.cart.settings.header__cross_sells.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main_cart.settings.paragraph__cross_sells.content"
    },
    {
      "id": "cross_sells_position",
      "type": "select",
      "label": "t:sections.main_cart.settings.cross_sells_position.label",
      "default": "below-line-items",
      "options": [
        {
          "value": "below-subtotal",
          "label": "t:sections.main_cart.settings.cross_sells_position.option_1"
        },
        {
          "value": "below-line-items",
          "label": "t:sections.main_cart.settings.cross_sells_position.option_2"
        }
      ]
    }
  ]
}
{% endschema %}
