{%- liquid
  assign paginated = false
  assign per_page = section.settings.num_rows | times: section.settings.num_columns | at_most: 50
  assign filter_bar_enabled = false
  assign section_class = 'collection section'
  assign current_page_has_products = true

  if section.settings.pagination == 'paginated'
    assign paginated = true
  endif

  if section.settings.show_item_count or section.settings.show_sort or section.settings.show_filters
    assign filter_bar_enabled = true
  endif

  if settings.enable_section_animations and section.settings.section_style_enable_animation
    assign section_class = section_class | append: ' animation animation--collection'
  endif

  if collection.products_count == 0
    assign current_page_has_products = false
  endif

  assign active_filter_count = 0

  for filter in collection.filters
    if filter.type == 'price_range'
      if filter.min_value.value and filter.max_value.value
        if filter.min_value.value != filter.range_min or filter.max_value.value != filter.range_max
          assign active_filter_count = active_filter_count | plus: 1
        endif
      endif
    elsif filter.active_values.size > 0
      assign active_filter_count = active_filter_count | plus: filter.active_values.size
    endif
  endfor
-%}

<section
  class="{{ section_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection"
  data-collection-item-count="{{ collection.all_products_count }}"
  data-collection-items-per-page="{{ per_page }}"
  data-collection-columns="{{ section.settings.num_columns }}"
  data-item-layout="{{ section.settings.default_grid_mode }}"
  data-has-filter-bar="{{ filter_bar_enabled }}"
  data-pagination-type="{{ section.settings.pagination }}"
  data-enable-sticky-container="{{ section.settings.enable_sticky_filter_sidebar }}"
>
  <div class="section-inner section-inner--full-width">
    <div class="collection__inner">
      {% if collection.all_products_count > 0 -%}
        <script type="application/json" data-tags>
          {%- capture tag_data -%}
            {%- for tag in collection.all_tags -%}
              { "label": "{{ tag | escape }}", "handle": "{{ tag | handleize }}" }{%- unless forloop.last -%}, {% endunless -%}
            {%- endfor -%}
          {%- endcapture -%}

          [{{ tag_data }}]
        </script>

        {%- paginate collection.products by per_page -%}
          {% render 'filter-topbar',
            resource: collection,
            section_settings: section.settings,
            source: 'collection',
            active_filter_count: active_filter_count
          -%}

          {% render 'filter-drawer',
            resource: collection,
            section_settings: section.settings,
            active_filter_count: active_filter_count
          -%}

          <div class="collection__content">
            {% render 'filter-sidebar',
              resource: collection,
              section_settings: section.settings,
              active_filter_count: active_filter_count
            -%}

            <div class="collection__products-container" data-results-container>
              <div class="collection__loading" data-loading>
                {%- render 'loader' -%}
              </div>

              {% render 'active-filters',
                resource: collection,
                show_swatch_filters: section.settings.show_swatch_filters,
                wrapper_class: 'collection__products-active-filters',
                active_filter_count: active_filter_count
              -%}

              <div
                id="root"
                class="animation--collection-items"
                data-partial
                data-collection-products-count="{{ collection.products_count }}"
              >
                <div
                  class="collection__products collection__infinite-container standard-grid-spacing product-item-holder"
                  data-has-products="{{ current_page_has_products }}"
                  {% render 'setup-product-item-grid' %}
                >
                  {% for product in collection.products -%}
                    {% liquid
                      assign prioritize_image_loading = false

                      if forloop.index0 < 3
                        assign prioritize_image_loading = true
                      endif

                      assign id = section.id | append: '-' | append: product.id
                    -%}

                    {% render 'product-item',
                      parent_id: id,
                      prod: product,
                      coll: collection,
                      product_columns: section.settings.num_columns,
                      aspect_ratio: settings.product_listing_aspect_ratio,
                      has_grid_reveal: true,
                      prioritize_image_loading: prioritize_image_loading
                    -%}
                  {%- else -%}
                    <div class="collection__empty">
                      <div>{{ 'collections.general.no_products' | t }}</div>

                      <div class="no-products__clear-filters-text">
                        <span>{{ 'filters.use_fewer' | t }}</span>

                        <button type="button" class="btn btn--text-link fs-body-100" data-clear-all-filters>
                          {{ 'filters.clear_all' | t }}
                        </button>
                      </div>
                    </div>
                  {%- endfor %}
                </div>

                {% if current_page_has_products -%}
                  {% unless paginated -%}
                    <div>
                      {% render 'pagination',
                        paginate: paginate,
                        pagination_type: section.settings.pagination,
                        resource_string: 'general.pagination.products',
                        display_paginate_item_count_only: true
                      -%}

                      <div class="collection__infinite-trigger">
                        {% if paginate.next -%}
                          <a href="{{ paginate.next.url }}" class="btn btn--secondary no-transition" data-click-to-load>
                            {{- 'general.pagination.load_more' | t -}}
                          </a>
                        {%- endif %}
                      </div>
                    </div>
                  {%- endunless %}

                  {% if paginated -%}
                    <div>
                      {% if paginate.pages > 1 -%}
                        {% render 'pagination',
                          paginate: paginate,
                          pagination_type: section.settings.pagination,
                          resource_string: 'general.pagination.products',
                          show_item_count: true
                        -%}
                      {%- else -%}
                        {% render 'pagination',
                          paginate: paginate,
                          pagination_type: section.settings.pagination,
                          resource_string: 'general.pagination.products',
                          display_paginate_item_count_only: true
                        -%}
                      {%- endif %}
                    </div>
                  {%- endif %}
                {%- endif %}
              </div>
            </div>
          </div>
        {%- endpaginate -%}
      {%- else -%}
        <div class="collection__empty ta-c">
          <p class="fs-body-100 fs-body-200-ns">{{ 'collections.general.no_matches' | t }}</p>

          <a class="btn btn--text-link" href="{{ routes.all_products_collection_url }}">{{ 'general.404.link' | t }}</a>
        </div>
      {%- endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_collection_product_grid.name",
  "class": "collection-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_collection_product_grid.settings.collection__header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main_collection_product_grid.settings.paragraph__grid_limits.content"
    },
    {
      "type": "select",
      "id": "num_columns",
      "label": "t:shared.settings.num_columns.label",
      "options": [
        {
          "value": "2",
          "label": "t:shared.settings.num_columns.options.2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.num_columns.options.3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.num_columns.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_columns.options.5"
        }
      ],
      "default": "4",
      "info": "t:shared.settings.num_columns.info_variable_results"
    },
    {
      "type": "select",
      "id": "num_rows",
      "label": "t:shared.settings.num_rows.label",
      "options": [
        {
          "value": "2",
          "label": "t:shared.settings.num_rows.options.2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.num_rows.options.3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.num_rows.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_rows.options.5"
        },
        {
          "value": "6",
          "label": "t:shared.settings.num_rows.options.6"
        },
        {
          "value": "7",
          "label": "t:shared.settings.num_rows.options.7"
        },
        {
          "value": "8",
          "label": "t:shared.settings.num_rows.options.8"
        },
        {
          "value": "9",
          "label": "t:shared.settings.num_rows.options.9"
        },
        {
          "value": "10",
          "label": "t:shared.settings.num_rows.options.10"
        },
        {
          "value": "11",
          "label": "t:shared.settings.num_rows.options.11"
        },
        {
          "value": "12",
          "label": "t:shared.settings.num_rows.options.12"
        }
      ],
      "default": "12"
    },
    {
      "type": "checkbox",
      "id": "show_item_count",
      "label": "t:shared.settings.show_item_count.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.grid_mode.header__collection.content"
    },
    {
      "type": "checkbox",
      "id": "enable_grid_mode",
      "label": "t:shared.settings.grid_mode.enable_grid_mode.label",
      "default": true
    },
    {
      "type": "radio",
      "id": "default_grid_mode",
      "label": "t:shared.settings.grid_mode.default_grid_mode.label",
      "options": [
        {
          "value": "grid",
          "label": "t:shared.settings.grid_mode.default_grid_mode.options.grid"
        },
        {
          "value": "list",
          "label": "t:shared.settings.grid_mode.default_grid_mode.options.list"
        }
      ],
      "default": "grid"
    },
    {
      "type": "header",
      "content": "t:shared.settings.header__filtering_and_sorting.content"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_filter_sidebar",
      "label": "t:shared.settings.enable_sticky_filter_sidebar.label",
      "default": true
    },
    {
      "id": "show_sort",
      "type": "checkbox",
      "label": "t:shared.settings.show_sort.label",
      "default": true
    },
    {
      "id": "show_filters",
      "type": "checkbox",
      "label": "t:shared.settings.show_filters.label",
      "info": "t:shared.settings.show_filters.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.header__filters_search.content"
    },
    {
      "type": "paragraph",
      "content": "t:shared.settings.paragraph__filters_search.content"
    },
    {
      "type": "textarea",
      "id": "filter_search_groups",
      "label": "t:sections.collection_sections_shared.settings.filter_search_groups.label",
      "info": "t:sections.collection_sections_shared.settings.filter_search_groups.info"
    },
    {
      "type": "header",
      "content": "t:shared.settings.header__filters_layout.content"
    },
    {
      "type": "checkbox",
      "id": "collapse_filter_sidebar",
      "label": "t:shared.settings.collapse_filter_sidebar.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_filter_groups_desktop",
      "label": "t:shared.settings.collapse_filter_groups_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "truncate_filter_list",
      "label": "t:sections.collection_sections_shared.settings.truncate_filter_list.label",
      "default": true
    },
    {
      "type": "range",
      "id": "truncate_filter_list_amount",
      "min": 5,
      "max": 10,
      "step": 1,
      "label": "t:sections.collection_sections_shared.settings.truncate_filter_list_amount.label",
      "default": 7
    },
    {
      "id": "show_swatch_filters",
      "type": "checkbox",
      "label": "t:shared.settings.show_swatch_filters.label",
      "info": "t:shared.settings.show_swatch_filters.info",
      "default": true
    },
    {
      "id": "show_chip_filters",
      "type": "checkbox",
      "label": "t:shared.settings.show_chip_filters.label",
      "info": "t:shared.settings.show_chip_filters.info",
      "default": true
    },
    {
      "type": "select",
      "id": "chip_layout",
      "label": "t:shared.settings.chip_layout.label",
      "default": "2col",
      "options": [
        {
          "value": "2col",
          "label": "t:shared.settings.chip_layout.option_2col"
        },
        {
          "value": "natural",
          "label": "t:shared.settings.chip_layout.option_natural"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.pagination__header.content"
    },
    {
      "type": "select",
      "id": "pagination",
      "label": "t:shared.settings.pagination.label",
      "default": "paginated",
      "options": [
        {
          "value": "infinite",
          "label": "t:shared.settings.pagination.options.infinite"
        },
        {
          "value": "click",
          "label": "t:shared.settings.pagination.options.click"
        },
        {
          "value": "paginated",
          "label": "t:shared.settings.pagination.options.paginated"
        }
      ],
      "info": "t:sections.main_collection_product_grid.settings.pagination.info"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "type": "checkbox",
      "id": "section_style_enable_animation",
      "default": true,
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info"
    }
  ]
}
{% endschema %}
