{%- liquid
  assign placeholder_aspect_ratio = 'no-ratio'

  if section.settings.image_aspect == 'original'
    assign placeholder_aspect_ratio = 'square'
  endif

  # Commenting this out for now as I created a snippet related to this functionality
  # and it conflicts.
  comment
    if section.settings.background_image != blank
      capture image_overlay_style_for_content
        render 'settings-image-overlay-style-for-content', local_settings: section.settings
      endcapture
    endif
  endcomment

  assign section_class = 'password section section--hero'

  if settings.enable_section_animations and section.settings.section_style_enable_animation
    assign section_class = section_class | append: ' animation animation--password'
  endif
-%}

<div
  class="{{ section_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="password"
  data-image-height-type="{{ section.settings.image_height_type }}"
  style="
    {% render 'settings-section-style-style' %}
    {% render 'settings-image-height-type-style' local_settings: section.settings %}
    {% render 'settings-text-position-style' local_settings: section.settings %}
    --content-max-width: {{ section.settings.content_max_width }}px;
  "
>
  <div class="section-inner section-inner--full-width">
    <div class="password__inner">
      {% render 'settings-background-image',
        local_settings: section.settings,
        placeholder_aspect_ratio: placeholder_aspect_ratio,
      -%}

      <div
        class="image-overlay animation--image-overlay"
        {% render 'settings-image-overlay', local_settings: section.settings %}
      ></div>

      <div class="password__text-container-wrapper">
        {%- assign text_container_class = 'password__text-container image-overlay-content' -%}

        {%- capture text_container_attributes -%}
          {% render 'text-box-container-class-and-attributes',
            local_settings: section.settings,
            class: text_container_class,
            animate_text_box: true,
            section_type: 'hero'
          -%}
        {%- endcapture -%}

        <div {{ text_container_attributes }}>
          {% liquid
            assign alignment = section.settings.text_position | split: '_' | first
            assign alignment_mobile = section.settings.text_position_mobile | split: '_' | first

            assign text_container_inner_class = 'password__text-container-inner section-blocks'

            unless section.settings.enable_text_box
              assign text_container_inner_class = text_container_inner_class | append: ' animation--container'
            endunless
          -%}

          <div class="{{ text_container_inner_class }}">
            {% for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'newsletter_signup' -%}
                  {% liquid
                    assign success_msg = 'general.password_page.signup_form_success' | t
                    assign submit_label = 'general.password_page.signup_form_button_label' | t
                  -%}

                  <div class="password__form-wrapper section-blocks__form">
                    {% form 'customer', class: 'password__signup-form', id: 'password-signup' -%}
                      {% render 'form-status', form: form, form_id: 'password-signup', success_message: success_msg %}

                      {% unless form.posted_successfully? -%}
                        <div class="password__notify-form">
                          <input type="hidden" name="contact[tags]" value="prospect, password page">

                          <label for="password-signup-email" class="visually-hidden">
                            {{- 'general.password_page.signup_form_email_placeholder' | t -}}
                          </label>

                          <input
                            type="email"
                            class="input password__signup-input"
                            name="contact[email]"
                            id="password-signup-email"
                            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                            spellcheck="false"
                            autocorrect="off"
                            autocapitalize="off"
                            required
                          >

                          {% render 'button',
                            label: submit_label,
                            allow_linkless: true,
                            button_size: 'full',
                            button_style: block.settings.button_style,
                            wrapper_class: 'password__signup-button',
                            type: 'submit'
                          -%}
                        </div>

                        {% unless block.settings.footer_text == blank -%}
                          <div class="password__signup-footer-text rte ff-body fs-body-50">
                            {{ block.settings.footer_text }}
                          </div>
                        {%- endunless %}
                      {%- endunless %}
                    {%- endform %}
                  </div>
                {%- when 'share_icons' -%}
                  <div class="password__share-icons section-blocks__text">
                    {% render 'share-icons', url: shop.url, title: shop.name %}
                  </div>
                {%- when 'social_icons' -%}
                  {% render 'social-icons-block' %}
                {%- when 'password_message' -%}
                  {%- if shop.password_message != blank -%}
                    {% render 'section-block-text',
                      alignment: alignment,
                      text: shop.password_message,
                      text_font_size: block.settings.text_font_size,
                      shopify_attributes: block.shopify_attributes
                    -%}
                  {%- endif -%}
                {%- else -%}
                  {% render 'section-block', block: block, alignment: alignment, alignment_mobile: alignment_mobile %}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "enabled_on": {
    "templates": [
      "password"
    ]
  },
  "tag": "section",
  "class": "shopify-section--full-width",
  "settings": [
    {
      "type": "radio",
      "id": "image_height_type",
      "label": "t:shared.settings.image_height_type.image_height_type.label_banner",
      "options": [
        {
          "value": "adapt_to_image",
          "label": "t:shared.settings.image_height_type.image_height_type.option_adapt_to_image"
        },
        {
          "value": "custom",
          "label": "t:shared.settings.image_height_type.image_height_type.option_custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "select",
      "id": "custom_height_desktop",
      "label": "t:shared.settings.image_height_type.custom_height_desktop.label",
      "options": [
        {
          "value": "250px",
          "label": "t:shared.settings.image_height_type.options.option_250px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "350px",
          "label": "t:shared.settings.image_height_type.options.option_350px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "450px",
          "label": "t:shared.settings.image_height_type.options.option_450px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "550px",
          "label": "t:shared.settings.image_height_type.options.option_550px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "650px",
          "label": "t:shared.settings.image_height_type.options.option_650px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "50vh",
          "label": "t:shared.settings.image_height_type.options.option_50vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "60vh",
          "label": "t:shared.settings.image_height_type.options.option_60vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "70vh",
          "label": "t:shared.settings.image_height_type.options.option_70vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "80vh",
          "label": "t:shared.settings.image_height_type.options.option_80vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "90vh",
          "label": "t:shared.settings.image_height_type.options.option_90vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "100vh",
          "label": "t:shared.settings.image_height_type.options.option_100vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        }
      ],
      "default": "650px"
    },
    {
      "type": "select",
      "id": "custom_height_mobile",
      "label": "t:shared.settings.image_height_type.custom_height_mobile.label",
      "options": [
        {
          "value": "150px",
          "label": "t:shared.settings.image_height_type.options.option_150px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "200px",
          "label": "t:shared.settings.image_height_type.options.option_200px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "250px",
          "label": "t:shared.settings.image_height_type.options.option_250px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "350px",
          "label": "t:shared.settings.image_height_type.options.option_350px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "450px",
          "label": "t:shared.settings.image_height_type.options.option_450px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "550px",
          "label": "t:shared.settings.image_height_type.options.option_550px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "650px",
          "label": "t:shared.settings.image_height_type.options.option_650px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "750px",
          "label": "t:shared.settings.image_height_type.options.option_750px",
          "group": "t:shared.settings.image_height_type.options.group_fixed"
        },
        {
          "value": "50vh",
          "label": "t:shared.settings.image_height_type.options.option_50vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "60vh",
          "label": "t:shared.settings.image_height_type.options.option_60vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "70vh",
          "label": "t:shared.settings.image_height_type.options.option_70vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "80vh",
          "label": "t:shared.settings.image_height_type.options.option_80vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "90vh",
          "label": "t:shared.settings.image_height_type.options.option_90vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        },
        {
          "value": "100vh",
          "label": "t:shared.settings.image_height_type.options.option_100vh",
          "group": "t:shared.settings.image_height_type.options.group_relative"
        }
      ],
      "default": "450px"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:shared.settings.background_image.image.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:shared.settings.background_image.image_mobile.label"
    },
    {
      "id": "background_image_focal_point",
      "type": "select",
      "label": "t:shared.settings.focal_point.label",
      "options": [
        {
          "label": "t:shared.settings.focal_point.option_image_presentation",
          "value": "image_presentation"
        },
        {
          "label": "t:shared.settings.focal_point.option_center",
          "value": "center"
        },
        {
          "label": "t:shared.settings.focal_point.option_top",
          "value": "top"
        },
        {
          "label": "t:shared.settings.focal_point.option_bottom",
          "value": "bottom"
        },
        {
          "label": "t:shared.settings.focal_point.option_left",
          "value": "left"
        },
        {
          "label": "t:shared.settings.focal_point.option_right",
          "value": "right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "id": "background_image_mobile_focal_point",
      "type": "select",
      "label": "t:shared.settings.mobile_focal_point.label",
      "options": [
        {
          "label": "t:shared.settings.focal_point.option_image_presentation",
          "value": "image_presentation"
        },
        {
          "label": "t:shared.settings.focal_point.option_center",
          "value": "center"
        },
        {
          "label": "t:shared.settings.focal_point.option_top",
          "value": "top"
        },
        {
          "label": "t:shared.settings.focal_point.option_bottom",
          "value": "bottom"
        },
        {
          "label": "t:shared.settings.focal_point.option_left",
          "value": "left"
        },
        {
          "label": "t:shared.settings.focal_point.option_right",
          "value": "right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "header",
      "content": "t:sections.image_hero.settings.header_content.content"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "min": 400,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "t:shared.settings.max_width.content.label",
      "default": 500,
      "info": "t:shared.settings.max_width.info"
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "t:shared.settings.text_position.text_position_desktop.label",
      "options": [
        {
          "label": "t:shared.settings.alignment_matrix.option_top_left",
          "value": "flex-start_flex-start"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_top_center",
          "value": "center_flex-start"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_top_right",
          "value": "flex-end_flex-start"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_middle_left",
          "value": "flex-start_center"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_middle_center",
          "value": "center_center"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_middle_right",
          "value": "flex-end_center"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_bottom_left",
          "value": "flex-start_flex-end"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_bottom_center",
          "value": "center_flex-end"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_bottom_right",
          "value": "flex-end_flex-end"
        }
      ],
      "default": "center_center"
    },
    {
      "id": "text_position_mobile",
      "type": "select",
      "label": "t:shared.settings.text_position.text_position_mobile.label",
      "options": [
        {
          "label": "t:shared.settings.alignment_matrix.option_top_left",
          "value": "flex-start_flex-start"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_top_center",
          "value": "center_flex-start"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_top_right",
          "value": "flex-end_flex-start"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_middle_left",
          "value": "flex-start_center"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_middle_center",
          "value": "center_center"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_middle_right",
          "value": "flex-end_center"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_bottom_left",
          "value": "flex-start_flex-end"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_bottom_center",
          "value": "center_flex-end"
        },
        {
          "label": "t:shared.settings.alignment_matrix.option_bottom_right",
          "value": "flex-end_flex-end"
        }
      ],
      "default": "center_center"
    },
    {
      "type": "header",
      "content": "t:shared.settings.image_overlay.header"
    },
    {
      "type": "paragraph",
      "content": "t:shared.settings.image_overlay.note_global_settings"
    },
    {
      "type": "range",
      "id": "image_overlay_tint_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:shared.settings.image_overlay.tint_opacity.label",
      "default": 50
    },
    {
      "type": "select",
      "id": "image_overlay_tint_style",
      "label": "t:shared.settings.image_overlay.tint_style.label",
      "default": "solid",
      "options": [
        {
          "value": "solid",
          "label": "t:shared.settings.image_overlay.tint_style.option_solid"
        },
        {
          "value": "gradient_down",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_down"
        },
        {
          "value": "gradient_right",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_right"
        },
        {
          "value": "gradient_left",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_left"
        },
        {
          "value": "gradient_up",
          "label": "t:shared.settings.image_overlay.tint_style.option_gradient_up"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "image_overlay_override_with_custom_colors",
      "label": "t:shared.settings.color_scheme.override",
      "default": false
    },
    {
      "type": "color",
      "id": "image_overlay_override_color_text",
      "label": "t:shared.settings.color_scheme.color_text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "image_overlay_override_color_tint",
      "label": "t:shared.settings.color_scheme.color_tint",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:shared.settings.text_box.header"
    },
    {
      "type": "checkbox",
      "id": "enable_text_box",
      "default": false,
      "label": "t:shared.settings.text_box.enable_text_box.label"
    },
    {
      "type": "select",
      "id": "text_box_style",
      "label": "t:shared.settings.text_box.text_box_style.label",
      "default": "soft_small",
      "options": [
        {
          "value": "plain",
          "label": "t:shared.settings.text_box.text_box_style.option_plain",
          "group": "t:shared.settings.text_box.text_box_style.option_group_plain"
        },
        {
          "value": "soft_small",
          "label": "t:shared.settings.text_box.text_box_style.option_soft_small",
          "group": "t:shared.settings.text_box.text_box_style.option_group_soft"
        },
        {
          "value": "soft_large",
          "label": "t:shared.settings.text_box.text_box_style.option_soft_large",
          "group": "t:shared.settings.text_box.text_box_style.option_group_soft"
        },
        {
          "value": "solid_thin",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thin",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "solid_thick",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thick",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "solid_thin_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thin_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "solid_thick_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thick_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "border_thin",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thin",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        },
        {
          "value": "border_thick",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thick",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        },
        {
          "value": "border_thin_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thin_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        },
        {
          "value": "border_thick_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thick_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_box_color_scheme",
      "label": "t:shared.settings.color_scheme.select.label",
      "info": "t:shared.settings.color_scheme.info",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:shared.settings.color_scheme.select.option_default",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "inverse",
          "label": "t:shared.settings.color_scheme.select.option_inverse",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "soft",
          "label": "t:shared.settings.color_scheme.select.option_soft",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "accent",
          "label": "t:shared.settings.color_scheme.select.option_accent",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "sale",
          "label": "t:shared.settings.color_scheme.select.option_sale",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "color_scheme_1",
          "label": "t:shared.settings.color_scheme.select.option_scheme_1",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        },
        {
          "value": "color_scheme_2",
          "label": "t:shared.settings.color_scheme.select.option_scheme_2",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "text_box_override_with_custom_colors",
      "label": "t:shared.settings.color_scheme.override",
      "default": false
    },
    {
      "type": "color",
      "id": "text_box_override_color_text",
      "label": "t:shared.settings.color_scheme.color_text",
      "default": "#393939"
    },
    {
      "type": "color",
      "id": "text_box_override_color_background",
      "label": "t:shared.settings.color_scheme.color_background",
      "default": "#FFFFFF"
    },
    {
      "type": "radio",
      "id": "color_forms",
      "label": "t:shared.settings.color_forms.radio.label",
      "options": [
        {
          "value": "default",
          "label": "t:shared.settings.color_forms.radio.option_default"
        },
        {
          "value": "transparent",
          "label": "t:shared.settings.color_forms.radio.option_transparent"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "section_style_spacing_top",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_top.label",
      "default": 0
    },
    {
      "id": "section_style_spacing_bottom",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_bottom.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "section_style_enable_animation",
      "default": true,
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info"
    }
  ],
  "blocks": [
    {
      "type": "accent",
      "name": "t:shared.section_blocks.accent.name",
      "settings": [
        {
          "id": "text",
          "type": "text",
          "label": "t:shared.section_blocks.accent.settings.text.label",
          "default": "Accent"
        },
        {
          "type": "range",
          "id": "accent_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.accent.label",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "accent_divider_enable",
          "label": "t:shared.section_blocks.accent.settings.divider_enable.label",
          "default": true
        },
        {
          "type": "select",
          "id": "accent_divider_color",
          "label": "t:shared.section_blocks.accent.settings.divider_color.label",
          "options": [
            {
              "value": "accent",
              "label": "t:shared.section_blocks.accent.settings.divider_color.options.accent"
            },
            {
              "value": "current",
              "label": "t:shared.section_blocks.accent.settings.divider_color.options.current"
            }
          ],
          "default": "accent"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:shared.section_blocks.title.name",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:shared.settings.title.label",
          "default": "Email signup banner"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.heading.label",
          "info": "t:shared.settings.text_size.info",
          "default": 6
        }
      ]
    },
    {
      "type": "text",
      "name": "t:shared.section_blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:shared.section_blocks.text.settings.text.label",
          "default": "<p>Be the first to know when we launch.</p>"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.text.label",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        }
      ]
    },
    {
      "type": "password_message",
      "name": "t:sections.main_password.blocks.password_message.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_password.blocks.password_message.settings.paragraph.content"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.text.label",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        }
      ]
    },
    {
      "type": "newsletter_signup",
      "name": "t:sections.main_password.blocks.newsletter_signup.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_style",
          "label": "t:shared.settings.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:shared.settings.button_style.option_primary",
              "group": "t:shared.settings.button_style.option_group_theme_colors"
            },
            {
              "value": "secondary",
              "label": "t:shared.settings.button_style.option_secondary",
              "group": "t:shared.settings.button_style.option_group_theme_colors"
            },
            {
              "value": "tertiary",
              "label": "t:shared.settings.button_style.option_tertiary",
              "group": "t:shared.settings.button_style.option_group_theme_colors"
            },
            {
              "value": "solid",
              "label": "t:shared.settings.button_style.option_solid",
              "group": "t:shared.settings.button_style.option_group_local_colors"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "footer_text",
          "label": "t:shared.section_blocks.newsletter_signup.settings.footer_text.label",
          "default": "<p>By completing this form, you are signing up to receive our emails and can unsubscribe at any time.</p>"
        }
      ]
    },
    {
      "type": "spacer",
      "name": "t:shared.section_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.section_blocks.spacer.settings.space.label",
          "min": 4,
          "max": 64,
          "step": 4,
          "default": 12,
          "unit": "px"
        }
      ]
    },
    {
      "type": "share_icons",
      "name": "t:sections.main_password.blocks.share_icons.name",
      "limit": 1
    },
    {
      "type": "social_icons",
      "name": "t:sections.main_password.blocks.social_icons.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_password.blocks.social_icons.content"
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.main_password.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "spacer"
        },
        {
          "type": "newsletter_signup"
        },
        {
          "type": "spacer"
        },
        {
          "type": "share_icons"
        }
      ]
    }
  ]
}
{% endschema %}
