{% liquid
  assign section_class = 'multi-column section'

  if settings.enable_section_animations and section.settings.section_style_enable_animation
    assign section_class = section_class | append: ' animation animation--multi-column'
  endif
-%}

{%- capture button -%}
  {% if section.settings.button_1_button_label != blank -%}
    {% render 'button',
      label: section.settings.button_1_button_label,
      link: section.settings.button_1_button_link,
      button_style: section.settings.button_1_button_style,
      wrapper_class: 'section-blocks__button'
    -%}
  {%- endif %}
{%- endcapture -%}

<div
  class="{{ section_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="multi-column"
  data-desktop-column-alignment="{{ section.settings.column_alignment }}"
  data-mobile-column-alignment="{{ section.settings.column_alignment_mobile }}"
  data-desktop-row-alignment="{{ section.settings.row_alignment }}"
  data-mobile-row-alignment="{{ section.settings.row_alignment_mobile }}"
  style="
    --grid-columns-desktop: {{ section.settings.num_columns }};
    --grid-columns-mobile: {{ section.settings.num_columns_mobile }};
    --grid-gap-column-desktop: {{ section.settings.column_spacing }}px;
    --grid-gap-column-mobile: {{ section.settings.column_spacing_mobile }}px;
    --grid-gap-row-desktop: {{ section.settings.row_spacing }}px;
    --grid-gap-row-mobile: {{ section.settings.row_spacing_mobile }}px;
    {% render 'settings-color-schemes-style', local_settings: section.settings %}
    {% render 'settings-section-style-style' %}
  "
>
  <div class="section-inner">
    <div class="multi-column__inner">
      {% render 'settings-section-header-content', section: section, additional_header_content: button %}

      <div
        class="multi-column__grid"
        data-num-columns-desktop="{{ section.settings.num_columns }}"
        data-num-columns-mobile="{{ section.settings.num_columns_mobile }}"
      >
        {% liquid
          for block in section.blocks
            render 'multi-column-item', block: block, section_settings: section.settings
          endfor
        -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multi_column.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:shared.settings.section_header.title"
    },
    {
      "type": "checkbox",
      "id": "center_content",
      "default": true,
      "label": "t:shared.settings.section_header.center_content.label"
    },
    {
      "type": "text",
      "id": "preheading",
      "label": "t:shared.settings.general.accent.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:shared.settings.section_header.heading.label",
      "default": "Multi-column"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:shared.settings.section_header.sub_heading.label"
    },
    {
      "type": "range",
      "id": "maximum_content_width",
      "label": "t:shared.settings.section_header.maximum_content_width.label",
      "min": 400,
      "max": 1000,
      "step": 50,
      "default": 650,
      "unit": "px"
    },
    {
      "id": "button_1_button_link",
      "type": "url",
      "label": "t:shared.settings.button_1_link.label"
    },
    {
      "id": "button_1_button_label",
      "type": "text",
      "label": "t:shared.settings.button_1_label.label"
    },
    {
      "type": "select",
      "id": "button_1_button_style",
      "label": "t:shared.settings.button_1_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:shared.settings.button_style.option_primary"
        },
        {
          "value": "secondary",
          "label": "t:shared.settings.button_style.option_secondary"
        },
        {
          "value": "tertiary",
          "label": "t:shared.settings.button_style.option_tertiary"
        },
        {
          "value": "text",
          "label": "t:shared.settings.button_style.option_text"
        }
      ],
      "default": "primary"
    },
    {
      "type": "header",
      "content": "t:sections.multi_column.settings.header__desktop_layout.content"
    },
    {
      "type": "select",
      "id": "num_columns",
      "label": "t:shared.settings.num_columns.label",
      "options": [
        {
          "value": "1",
          "label": "t:shared.settings.num_columns.options.1"
        },
        {
          "value": "2",
          "label": "t:shared.settings.num_columns.options.2"
        },
        {
          "value": "3",
          "label": "t:shared.settings.num_columns.options.3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.num_columns.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_columns.options.5"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "column_spacing",
      "label": "t:shared.settings.column_spacing.label",
      "min": 4,
      "max": 48,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "row_spacing",
      "label": "t:shared.settings.row_spacing.label",
      "min": 4,
      "max": 48,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "select",
      "id": "column_alignment",
      "label": "t:shared.settings.alignment_horizontal.column.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:shared.settings.alignment_horizontal.options.left"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_horizontal.options.center"
        },
        {
          "value": "right",
          "label": "t:shared.settings.alignment_horizontal.options.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "row_alignment",
      "label": "t:shared.settings.alignment_vertical.row.label",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "t:shared.settings.alignment_vertical.options.top"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_vertical.options.center"
        },
        {
          "value": "bottom",
          "label": "t:shared.settings.alignment_vertical.options.bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.multi_column.settings.header__mobile_layout.content"
    },
    {
      "type": "select",
      "id": "num_columns_mobile",
      "label": "t:shared.settings.num_columns.label_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:shared.settings.num_columns.options.1"
        },
        {
          "value": "2",
          "label": "t:shared.settings.num_columns.options.2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "column_spacing_mobile",
      "label": "t:shared.settings.column_spacing.label",
      "min": 4,
      "max": 48,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "row_spacing_mobile",
      "label": "t:shared.settings.row_spacing.label",
      "min": 4,
      "max": 48,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "select",
      "id": "column_alignment_mobile",
      "label": "t:shared.settings.alignment_horizontal.column.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:shared.settings.alignment_horizontal.options.left"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_horizontal.options.center"
        },
        {
          "value": "right",
          "label": "t:shared.settings.alignment_horizontal.options.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "row_alignment_mobile",
      "label": "t:shared.settings.alignment_vertical.row.label",
      "default": "top",
      "options": [
        {
          "value": "top",
          "label": "t:shared.settings.alignment_vertical.options.top"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_vertical.options.center"
        },
        {
          "value": "bottom",
          "label": "t:shared.settings.alignment_vertical.options.bottom"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.text_box.header_plural"
    },
    {
      "type": "checkbox",
      "id": "enable_text_box",
      "default": false,
      "label": "t:shared.settings.text_box.enable_text_box.label_plural"
    },
    {
      "type": "select",
      "id": "text_box_style",
      "label": "t:shared.settings.text_box.text_box_style.label",
      "default": "soft_small",
      "options": [
        {
          "value": "plain",
          "label": "t:shared.settings.text_box.text_box_style.option_plain",
          "group": "t:shared.settings.text_box.text_box_style.option_group_plain"
        },
        {
          "value": "soft_small",
          "label": "t:shared.settings.text_box.text_box_style.option_soft_small",
          "group": "t:shared.settings.text_box.text_box_style.option_group_soft"
        },
        {
          "value": "soft_large",
          "label": "t:shared.settings.text_box.text_box_style.option_soft_large",
          "group": "t:shared.settings.text_box.text_box_style.option_group_soft"
        },
        {
          "value": "solid_thin",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thin",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "solid_thick",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thick",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "solid_thin_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thin_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "solid_thick_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_solid_thick_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_solid"
        },
        {
          "value": "border_thin",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thin",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        },
        {
          "value": "border_thick",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thick",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        },
        {
          "value": "border_thin_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thin_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        },
        {
          "value": "border_thick_accent",
          "label": "t:shared.settings.text_box.text_box_style.option_border_thick_accent",
          "group": "t:shared.settings.text_box.text_box_style.option_group_border"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_box_color_scheme",
      "label": "t:shared.settings.color_scheme.select.label",
      "info": "t:shared.settings.color_scheme.info",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:shared.settings.color_scheme.select.option_default",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "inverse",
          "label": "t:shared.settings.color_scheme.select.option_inverse",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "soft",
          "label": "t:shared.settings.color_scheme.select.option_soft",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "accent",
          "label": "t:shared.settings.color_scheme.select.option_accent",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "sale",
          "label": "t:shared.settings.color_scheme.select.option_sale",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "color_scheme_1",
          "label": "t:shared.settings.color_scheme.select.option_scheme_1",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        },
        {
          "value": "color_scheme_2",
          "label": "t:shared.settings.color_scheme.select.option_scheme_2",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "text_box_override_with_custom_colors",
      "label": "t:shared.settings.color_scheme.override",
      "default": false
    },
    {
      "type": "color",
      "id": "text_box_override_color_text",
      "label": "t:shared.settings.color_scheme.color_text",
      "default": "#393939"
    },
    {
      "type": "color",
      "id": "text_box_override_color_background",
      "label": "t:shared.settings.color_scheme.color_background",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:sections.multi_column.settings.header__section_colors.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:shared.settings.color_scheme.select.label",
      "info": "t:shared.settings.color_scheme.info",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:shared.settings.color_scheme.select.option_default",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "inverse",
          "label": "t:shared.settings.color_scheme.select.option_inverse",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "soft",
          "label": "t:shared.settings.color_scheme.select.option_soft",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "accent",
          "label": "t:shared.settings.color_scheme.select.option_accent",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "sale",
          "label": "t:shared.settings.color_scheme.select.option_sale",
          "group": "t:shared.settings.color_scheme.select.group_theme"
        },
        {
          "value": "color_scheme_1",
          "label": "t:shared.settings.color_scheme.select.option_scheme_1",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        },
        {
          "value": "color_scheme_2",
          "label": "t:shared.settings.color_scheme.select.option_scheme_2",
          "group": "t:shared.settings.color_scheme.select.group_schemes"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "override_with_custom_colors",
      "label": "t:shared.settings.color_scheme.override",
      "default": false
    },
    {
      "type": "color",
      "id": "override_color_text",
      "label": "t:shared.settings.color_scheme.color_text",
      "default": "#393939"
    },
    {
      "type": "color",
      "id": "override_color_background",
      "label": "t:shared.settings.color_scheme.color_background",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "section_style_spacing_top",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_top.label",
      "default": 36
    },
    {
      "id": "section_style_spacing_bottom",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_bottom.label",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "section_style_enable_animation",
      "default": true,
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multi_column.blocks.column.name",
      "settings": [
        {
          "type": "range",
          "id": "text_max_width",
          "min": 50,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:shared.settings.max_width.text.label",
          "default": 100,
          "info": "t:sections.multi_column.blocks.shared.settings.text_max_width.info"
        },
        {
          "type": "text",
          "id": "accent",
          "label": "t:shared.settings.general.accent.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.multi_column.blocks.shared.settings.title.label",
          "default": "Text column"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.heading.label",
          "info": "t:shared.settings.text_size.info",
          "default": 2
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.multi_column.blocks.shared.settings.text.label",
          "default": "<p>Use text to focus on your chosen product, collection, or blog post.</p>"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.text.label",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "t:shared.settings.button_link.label"
        },
        {
          "id": "button_label",
          "type": "text",
          "label": "t:shared.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:shared.settings.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:shared.settings.button_style.option_primary"
            },
            {
              "value": "secondary",
              "label": "t:shared.settings.button_style.option_secondary"
            },
            {
              "value": "tertiary",
              "label": "t:shared.settings.button_style.option_tertiary"
            },
            {
              "value": "text",
              "label": "t:shared.settings.button_style.option_text"
            }
          ]
        }
      ]
    },
    {
      "type": "image_column",
      "name": "t:sections.multi_column.blocks.image_column.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.multi_column.blocks.image_column.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "t:sections.multi_column.blocks.image_column.settings.image_width.label",
          "min": 50,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 100
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:shared.settings.aspect_ratio.label",
          "options": [
            {
              "value": "natural",
              "label": "t:shared.settings.aspect_ratio.option_natural"
            },
            {
              "value": "square",
              "label": "t:shared.settings.aspect_ratio.option_square"
            },
            {
              "value": "portrait",
              "label": "t:shared.settings.aspect_ratio.option_portrait"
            },
            {
              "value": "portrait_alt",
              "label": "t:shared.settings.aspect_ratio.option_portrait_alt"
            },
            {
              "value": "landscape",
              "label": "t:shared.settings.aspect_ratio.option_landscape"
            },
            {
              "value": "landscape_alt",
              "label": "t:shared.settings.aspect_ratio.option_landscape_alt"
            }
          ],
          "default": "square"
        },
        {
          "id": "focal_point",
          "type": "select",
          "label": "t:shared.settings.focal_point.label",
          "options": [
            {
              "label": "t:shared.settings.focal_point.option_image_presentation",
              "value": "image_presentation"
            },
            {
              "label": "t:shared.settings.focal_point.option_center",
              "value": "center"
            },
            {
              "label": "t:shared.settings.focal_point.option_top",
              "value": "top"
            },
            {
              "label": "t:shared.settings.focal_point.option_bottom",
              "value": "bottom"
            },
            {
              "label": "t:shared.settings.focal_point.option_left",
              "value": "left"
            },
            {
              "label": "t:shared.settings.focal_point.option_right",
              "value": "right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "t:sections.multi_column.blocks.image_column.settings.image_position.label",
          "options": [
            {
              "value": "above_text",
              "label": "t:sections.multi_column.blocks.image_column.settings.image_position.option_above_text"
            },
            {
              "value": "below_text",
              "label": "t:sections.multi_column.blocks.image_column.settings.image_position.option_below_text"
            }
          ],
          "default": "above_text"
        },
        {
          "id": "image_link",
          "type": "url",
          "label": "t:sections.multi_column.blocks.image_column.settings.image_link.label"
        },
        {
          "type": "text",
          "id": "small_caption",
          "label": "t:sections.multi_column.blocks.image_column.settings.small_caption.label"
        },
        {
          "type": "header",
          "content": "t:sections.multi_column.blocks.shared.settings.header__text.content"
        },
        {
          "type": "range",
          "id": "text_max_width",
          "min": 50,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:shared.settings.max_width.text.label",
          "default": 100,
          "info": "t:sections.multi_column.blocks.shared.settings.text_max_width.info"
        },
        {
          "type": "text",
          "id": "accent",
          "label": "t:shared.settings.general.accent.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.multi_column.blocks.shared.settings.title.label",
          "default": "Image with text column"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.heading.label",
          "info": "t:shared.settings.text_size.info",
          "default": 2
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.multi_column.blocks.shared.settings.text.label",
          "default": "<p>Use text to focus on your chosen product, collection, or blog post.</p>"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.text.label",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "t:shared.settings.button_link.label"
        },
        {
          "id": "button_label",
          "type": "text",
          "label": "t:shared.settings.button_label.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:shared.settings.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:shared.settings.button_style.option_primary"
            },
            {
              "value": "secondary",
              "label": "t:shared.settings.button_style.option_secondary"
            },
            {
              "value": "tertiary",
              "label": "t:shared.settings.button_style.option_tertiary"
            },
            {
              "value": "text",
              "label": "t:shared.settings.button_style.option_text"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi_column.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
