<script>
  {% liquid
    # This is done here AND in the JS so that it's responsive in the theme editor, but doesn't wait for JS otherwise
    if section.settings.enable_sticky_header
      echo 'document.documentElement.classList.add("sticky-header-enabled");'
    endif

    if section.settings.enable_transparent
      echo 'document.body.classList.add("header-transparent");'
    endif
  -%}
</script>

{%- liquid
  assign logo_position = section.settings.layout | remove: 'logo-'
  assign logo_position_mobile = section.settings.layout_mobile | remove: 'logo-'

  capture logo_sizes
    echo '(max-width: 960px) [[mlw]]px, [[lw]]px' | replace: '[[mlw]]', section.settings.mobile_logo_width | replace: '[[lw]]', section.settings.logo_width
  endcapture
-%}

{%- capture header_logo -%}
  <h1 class="header__logo">
    <a
      class="header__logo-link"
      href="{{ routes.root_url }}"
      {% if section.settings.logo != blank -%}
        aria-label="{{ shop.name }}"
      {%- endif %}
    >
      {% if section.settings.logo != blank -%}
        {% render 'image',
          image: section.settings.logo,
          wrapper_class: 'regular-logo',
          sizes: logo_sizes,
          prioritize_loading: true
        -%}
      {%- endif %}

      {% if section.settings.logo == blank -%}
        <span class="header__logo-text">{{ shop.name }}</span>
      {%- endif %}
    </a>
  </h1>
{%- endcapture -%}

{% liquid
  assign header_class = 'password-header header'

  if section.settings.logo != blank
    assign header_class = header_class | append: ' header--has-logo'
  endif

  if section.settings.enable_transparent
    assign header_class = header_class | append: ' header--transparent'
  endif

  if section.settings.enable_transparent_background_tint
    assign header_class = header_class | append: ' header--transparent-is-tinted'
  endif
-%}

<header
  class="{{ header_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="password-header"
  {% if section.settings.enable_sticky_header %}
    data-enable-sticky-header="true"
  {% endif %}
  {% if section.settings.enable_transparent %}
    data-transparent-header="true"
  {% endif %}
  style="
    --logo-width: {{ section.settings.logo_width }}px;
    --mobile-logo-width: {{ section.settings.mobile_logo_width }}px;
    --color-text-transparent: {{ section.settings.color_text_transparent }};
  "
>
  <div class="header__inner-wrapper">
    <div class="header__inner">
      {% comment %} Desktop layout {% endcomment %}
      <div class="header__content header__content-desktop lower {% if logo_position == 'center' %}three-segment{% endif %}">
        <div class="header__content-segment header__content-segment-desktop left">
          {% liquid
            if logo_position == 'left'
              echo header_logo
            endif
          -%}
        </div>

        {% liquid
          if logo_position == 'center'
            echo header_logo
          endif
        -%}

        <div class="header__content-segment header__content-segment-desktop right">
          {% render 'password-unlock', is_desktop: true %}
        </div>
      </div>

      {% comment %} Mobile layout {% endcomment %}
      <div class="header__content header__content-mobile {% if logo_position_mobile == 'center' %}three-segment{% endif %}">
        {% if logo_position_mobile == 'center' -%}
          <div class="header__content-segment left"></div>

          {{ header_logo }}

          <div class="header__content-segment right">
            {% render 'password-unlock' %}
          </div>
        {%- else -%}
          <div class="header__content-segment left">
            {{ header_logo }}
          </div>

          <div class="header__content-segment right">
            {% render 'password-unlock' %}
          </div>
        {%- endif %}
      </div>
    </div>
  </div>
</header>

<script>
  // Set heading height at component level
  const header = document.querySelector('#shopify-section-password-header');
  document.documentElement.style.setProperty('--height-header', header.offsetHeight + 'px');
</script>

{% schema %}
{
  "name": "t:sections.password_header.name",
  "class": "header__outer-wrapper",
  "settings": [
    {
      "id": "layout",
      "type": "select",
      "label": "t:sections.header.settings.layout.label",
      "options": [
        {
          "value": "logo-center",
          "label": "t:sections.password_header.settings.layout.option__logo-center"
        },
        {
          "value": "logo-left",
          "label": "t:sections.password_header.settings.layout.option__logo-left"
        }
      ]
    },
    {
      "id": "layout_mobile",
      "type": "select",
      "label": "t:sections.header.settings.layout_mobile.label",
      "options": [
        {
          "value": "logo-center",
          "label": "t:sections.password_header.settings.layout.option__logo-center"
        },
        {
          "value": "logo-left",
          "label": "t:sections.password_header.settings.layout.option__logo-left"
        }
      ]
    },
    {
      "id": "enable_sticky_header",
      "type": "checkbox",
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.password_header.settings.header__logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.password_header.settings.image.label"
    },
    {
      "id": "logo_width",
      "type": "range",
      "min": 50,
      "max": 350,
      "step": 10,
      "unit": "px",
      "label": "t:sections.password_header.settings.logo_width.label",
      "default": 200
    },
    {
      "id": "mobile_logo_width",
      "type": "range",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "label": "t:sections.password_header.settings.mobile_logo_width.label",
      "default": 200
    },
    {
      "type": "header",
      "content": "t:sections.password_header.settings.header__transparent_header"
    },
    {
      "id": "enable_transparent",
      "type": "checkbox",
      "label": "t:sections.password_header.settings.enable_transparent.label",
      "info": "t:sections.password_header.settings.enable_transparent.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_background_tint",
      "label": "t:sections.header.settings.enable_transparent_background_tint.label",
      "default": false,
      "info": "t:sections.header.settings.enable_transparent_background_tint.info"
    },
    {
      "id": "color_text_transparent",
      "type": "color",
      "label": "t:sections.password_header.settings.color_text_transparent.label",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
