{%- capture button_1 -%}
  {% if section.settings.button_1_button_label != blank -%}
    {% render 'button',
      label: section.settings.button_1_button_label,
      link: section.settings.button_1_button_link,
      button_style: section.settings.button_1_button_style,
      wrapper_class: 'featured-collection__button section-header-footer__button section-blocks__button'
    -%}
  {%- endif %}
{%- endcapture -%}

{%- capture button_2 -%}
  {% if section.settings.button_2_button_label != blank -%}
    {% render 'button',
      label: section.settings.button_2_button_label,
      link: section.settings.button_2_button_link,
      button_style: section.settings.button_2_button_style,
      wrapper_class: 'featured-collection__button section-header-footer__button section-blocks__button'
    -%}
  {%- endif %}
{%- endcapture -%}

{% liquid
  capture buttons
    if button_1 != blank and button_2 != blank
      echo '<div class="section-blocks__inline-buttons">'
      echo button_1
      echo button_2
      echo '</div>'
    else
      echo button_1
      echo button_2
    endif
  endcapture

  capture slider_dots
    render 'scroll-slider-page-dots'
  endcapture

  # Limit columns to 4 between 720 and 1024 screen widths
  assign num_columns_tablet = section.settings.num_columns | at_most: 4

  assign has_slider = false
  assign disable_slider_desktop = true
  assign disable_slider_mobile = true

  if section.settings.enable_slider_desktop or section.settings.enable_slider_mobile
    assign has_slider = true
  endif

  if section.settings.enable_slider_desktop
    assign disable_slider_desktop = false
  endif

  if section.settings.enable_slider_mobile
    assign disable_slider_mobile = false
  endif

  capture additional_header_content
    unless section.settings.center_content or disable_slider_desktop
      echo slider_dots
    endunless

    if section.settings.button_position == 'header'
      echo buttons
    endif
  endcapture

  capture footer_content
    if section.settings.center_content and disable_slider_desktop == false
      echo slider_dots
    endif

    if section.settings.button_position == 'footer'
      echo buttons
    endif
  endcapture

  assign footer_content = footer_content | strip

  assign max_products = section.settings.maximum_products
-%}

<div
  class="
    recommended-products
    section
    hidden
    {% if settings.enable_section_animations and section.settings.section_style_enable_animation %}
      animation
      animation--recommended-products
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="recommended-products"
  data-product-id="{{ product.id }}"
  data-limit="{{ max_products }}"
  data-products-per-view="{{ section.settings.num_columns }}"
  data-mobile-products-per-view="{{ section.settings.num_columns_mobile }}"
  style="
    {% render 'settings-section-style-style' %}
    --num-columns-desktop: {{ section.settings.num_columns }};
    --num-columns-tablet: {{ num_columns_tablet }};
    --num-columns-mobile: {{ section.settings.num_columns_mobile }};
  "
>
  <div class="section-inner">
    {% render 'settings-section-header-content', section: section, additional_header_content: additional_header_content %}

    <div
      class="
        featured-collection__products
        featured-collection-slider-grid
        standard-grid-spacing
        product-item-holder
      "
      {% render 'setup-product-item-grid' %}
      data-has-slider="{{ has_slider }}"
      data-slider-desktop="{{ section.settings.enable_slider_desktop }}"
      data-slider-mobile="{{ section.settings.enable_slider_mobile }}"
      data-recommendations
    >
      {% if recommendations.performed? and recommendations.products_count > 0 -%}
        {%- capture recommended_items -%}
          {% for product in recommendations.products limit: max_products -%}
            {%- assign id = section.id | append: '-' | append: product.id -%}

            {% render 'product-item',
              parent_id: id,
              prod: product,
              coll: section.settings.collection,
              aspect_ratio: settings.product_listing_aspect_ratio,
              product_columns: section.settings.num_columns,
            -%}
          {%- endfor %}
        {%- endcapture -%}

        {% if has_slider -%}
          {% liquid
            if settings.product_listing_product_list_style == 'bordered_grid'
              assign gap = 1
              assign gap_above_1024 = 1
              assign gap_above_1200 = 1
            else
              assign gap = 12
              assign gap_above_1024 = 16
              assign gap_above_1200 = 24
            endif
          -%}

          {%
            render 'scroll-slider',
            navigation_container: '.recommended-products',
            id: 'recommended-products',
            slider_items: recommended_items,
            columns: section.settings.num_columns_mobile,
            columns_above_720: num_columns_tablet,
            columns_above_1024: section.settings.num_columns,
            gap: gap,
            gap_above_1024: gap_above_1024,
            gap_above_1200: gap_above_1200,
            peek: 24,
            peek_above_1024: 0,
            full_width_below_1024: true,
            peek_and_full_width_below_1024: true,
            disable_above_1024: disable_slider_desktop,
            disable_below_720: disable_slider_mobile,
          -%}

          {% render 'scroll-slider-navigation-buttons' %}
        {%- else -%}
          {{ recommended_items }}
        {%- endif %}
      {%- endif %}
    </div>

  {% render 'section-footer', content: footer_content %}
</div>

{% schema %}
{
  "name": "t:sections.product_recommendations.name",
  "tag": "section",
  "limit": 1,
  "templates": [
    "product"
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product_recommendations.settings.paragraph__customization.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.product_recommendations.settings.paragraph__intro.content"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_header.title"
    },
    {
      "type": "checkbox",
      "id": "center_content",
      "default": true,
      "label": "t:shared.settings.section_header.center_content.label"
    },
    {
      "type": "text",
      "id": "preheading",
      "label": "t:shared.settings.general.accent.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:shared.settings.section_header.heading.label",
      "default": "Recommended products"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:shared.settings.section_header.sub_heading.label"
    },
    {
      "type": "range",
      "id": "maximum_content_width",
      "label": "t:shared.settings.section_header.maximum_content_width.label",
      "min": 400,
      "max": 1000,
      "step": 50,
      "default": 650,
      "unit": "px"
    },
    {
      "id": "button_1_button_link",
      "type": "url",
      "label": "t:shared.settings.button_1_link.label"
    },
    {
      "id": "button_1_button_label",
      "type": "text",
      "label": "t:shared.settings.button_1_label.label"
    },
    {
      "type": "select",
      "id": "button_1_button_style",
      "label": "t:shared.settings.button_1_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:shared.settings.button_style.option_primary"
        },
        {
          "value": "secondary",
          "label": "t:shared.settings.button_style.option_secondary"
        },
        {
          "value": "tertiary",
          "label": "t:shared.settings.button_style.option_tertiary"
        },
        {
          "value": "text",
          "label": "t:shared.settings.button_style.option_text"
        }
      ],
      "default": "primary"
    },
    {
      "id": "button_2_button_link",
      "type": "url",
      "label": "t:shared.settings.button_2_link.label"
    },
    {
      "id": "button_2_button_label",
      "type": "text",
      "label": "t:shared.settings.button_2_label.label"
    },
    {
      "type": "select",
      "id": "button_2_button_style",
      "label": "t:shared.settings.button_2_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:shared.settings.button_style.option_primary"
        },
        {
          "value": "secondary",
          "label": "t:shared.settings.button_style.option_secondary"
        },
        {
          "value": "tertiary",
          "label": "t:shared.settings.button_style.option_tertiary"
        },
        {
          "value": "text",
          "label": "t:shared.settings.button_style.option_text"
        }
      ],
      "default": "tertiary"
    },
    {
      "type": "select",
      "id": "button_position",
      "label": "t:shared.settings.button_position.multiple.label",
      "info": "t:shared.settings.button_position.multiple.info",
      "options": [
        {
          "value": "header",
          "label": "t:shared.settings.button_position.option_header"
        },
        {
          "value": "footer",
          "label": "t:shared.settings.button_position.option_footer"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.collection_sections_shared.settings.header__product_list.content"
    },
    {
      "type": "range",
      "id": "maximum_products",
      "label": "t:sections.collection_sections_shared.settings.maximum_products.label",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 8
    },
    {
      "type": "select",
      "id": "num_columns",
      "label": "t:shared.settings.num_columns.label",
      "options": [
        {
          "value": "3",
          "label": "t:shared.settings.num_columns.options.3"
        },
        {
          "value": "4",
          "label": "t:shared.settings.num_columns.options.4"
        },
        {
          "value": "5",
          "label": "t:shared.settings.num_columns.options.5"
        }
      ],
      "default": "4"
    },
    {
      "type": "select",
      "id": "num_columns_mobile",
      "label": "t:shared.settings.num_columns.label_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:shared.settings.num_columns.options.1"
        },
        {
          "value": "2",
          "label": "t:shared.settings.num_columns.options.2"
        }
      ],
      "default": "2"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_desktop",
      "label": "t:shared.settings.enable_slider_desktop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_mobile",
      "label": "t:shared.settings.enable_slider_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "section_style_spacing_top",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_top.label",
      "default": 36
    },
    {
      "id": "section_style_spacing_bottom",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_bottom.label",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "section_style_enable_animation",
      "default": true,
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_recommendations.presets.name"
    }
  ]
}
{% endschema %}
